{% extends 'mainTemplate.html' %}

{% block body %}
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h5 class="mb-0">User Management</h5>
                </div>
                <div class="card-body text-center">
                    <button class="btn btn-secondary">Find User</button>
                    <a href="/roster/tidy/"><button class="btn btn-secondary">Roster Tidy</button></a>
                    <a href="visits/"><button class="btn btn-secondary">Visiting Requests</button></a>
                    <a href="transfers/"><button class="btn btn-secondary">Transfer Requests</button></a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h5 class="mb-0">Training Management</h5>
                </div>
                <div class="card-body text-center">
                    <a href="/training/mentors/"><button class="btn btn-secondary">Mentor History</button></a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h5 class="mb-0">Website Management</h5>
                </div>
                <div class="card-body text-center">
                    <a href="broadcast/"><button class="btn btn-secondary">Broadcast Email</button></a>
                    <a href="log/"><button class="btn btn-secondary">Action Log</button></a>
                    <a href="announcement/"><button class="btn btn-secondary">Create Announcement</button></a>
                    <a href="/django/"><button class="btn btn-secondary">Django Panel</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}