{% extends 'mainTemplate.html' %}

{% block stylesheets %}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <form id="broadcastForm" action="send/" method="POST">
        {% csrf_token %}
        <div class="label-group">
            <input name="subject" type="text" required>
            <label>Broadcast Subject</label>
            <span class="focus-border"></span>
        </div>
        <label class="radio-group-label">Select Recipients</label>
        <div class="radio-group d-inline mr-3">
            <input type="radio" name="main_role" value="AC" checked>
            <label class="radio-label">All Controllers</label>
        </div>
        <div class="radio-group d-inline mr-3">
            <input type="radio" name="main_role" value="HC">
            <label class="radio-label">Home Controllers</label>
        </div>
        <div class="radio-group d-inline mr-3">
            <input type="radio" name="main_role" value="VC">
            <label class="radio-label">Visiting Controllers</label>
        </div>

        <button class="d-block btn btn-primary" type="button" data-toggle="collapse" data-target="#options">More Options</button>
        <div class="collapse" id="options">
            <br>
            <div class="row">
                <div class="col-md-2">
                    <div class="mb-1 checkbox-group">
                        <input name="OBS" type="checkbox" checked>
                        <label>OBS</label>
                    </div>
                    <div class="mb-1 checkbox-group">
                        <input name="S1" type="checkbox" checked>
                        <label>S1</label>
                    </div>
                    <div class="mb-1 checkbox-group">
                        <input name="S2" type="checkbox" checked>
                        <label>S2</label>
                    </div>
                    <div class="mb-1 checkbox-group">
                        <input name="S3" type="checkbox" checked>
                        <label>S3</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-1 checkbox-group">
                        <input name="C1" type="checkbox" checked>
                        <label>C1</label>
                    </div>
                    <div class="mb-1 checkbox-group">
                        <input name="C3" type="checkbox" checked>
                        <label>C3</label>
                    </div>
                    <div class="mb-1 checkbox-group">
                        <input name="I1" type="checkbox" checked>
                        <label>I1</label>
                    </div>
                    <div class="mb-1 checkbox-group">
                        <input name="I3" type="checkbox" checked>
                        <label>I3</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-1 checkbox-group">
                        <input name="SUP" type="checkbox" checked>
                        <label>SUP</label>
                    </div>
                    <div class="mb-1 checkbox-group">
                        <input name="ADM" type="checkbox" checked>
                        <label>ADM</label>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <textarea name="message" hidden></textarea>
        <div class="quill mb-2" id="editor"></div>
        <a href="/admin"><button class="btn btn-secondary" type="button">Cancel</button></a>
        <button class="btn btn-primary">Confirm</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var quill = null
        $(function() {
            quill = new Quill('#editor', {
                theme: 'snow',
                modules: {
                    toolbar: [
                        ['bold', 'italic', 'underline', 'strike'],
                        ['blockquote', 'code-block'],

                        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                        [{ 'script': 'sub'}, { 'script': 'super' }],
                        [{ 'indent': '-1'}, { 'indent': '+1' }],

                        [{ 'size': ['small', false, 'large', 'huge'] }],
                        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                        [{ 'color': [] }, { 'background': [] }],
                        [{ 'font': [] }],

                        ['image'],

                        ['clean']
                    ]
                },
                placeholder: 'Broadcast message goes here...',
            });
        })
        $('#broadcastForm').submit(function(e) {
            e.preventDefault()
            $('textarea[name="message"]').val(quill.root.innerHTML)
            this.submit()
        })
    </script>
{% endblock %}