{% extends 'mainTemplate.html' %}
{% load static %}

{% block body %}
    <div class="row">
        <div class="col-md-0 col-xl-3"></div>
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-header bg-secondary">Gerente de Tráfico Aéreo <a class="float-right" href="mailto:atm@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
                <div class="card-body">
                    {% for ATM in staff.ATM %}
                        <h4><img class="rounded-circle" src="{% if ATM.profile_picture %}{{ ATM.profile_picture.url }}{% else %}{% static 'img/placeholder-profile.png' %}{% endif %}" height="40px">&nbsp; {{ ATM.full_name }}</h4>
                    {% empty %}
                        <h4><img class="rounded-circle" src="{% static 'img/placeholder-profile.png' %}" height="40px">&nbsp; Vacant</h4>
                    {% endfor %}
                    <p>El ATM es responsable de la macrogestión del ARTCC. Supervisan las operaciones diarias y se aseguran de que ARTCC funcione sin problemas.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-header bg-secondary">Subgerente de Tráfico Aéreo <a class="float-right" href="mailto:datm@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
                <div class="card-body">
                    {% for DATM in staff.DATM %}
                        <h4><img class="rounded-circle" src="{% if DATM.profile_picture %}{{ DATM.profile_picture.url }}{% else %}{% static 'img/placeholder-profile.png' %}{% endif %}" height="40px">&nbsp; {{ DATM.full_name }}</h4>
                    {% empty %}
                        <h4><img class="rounded-circle" src="{% static 'img/placeholder-profile.png' %}" height="40px">&nbsp; Vacant</h4>
                    {% endfor %}
                    <p>El DATM asiste al cajero automático con la gestión del ARTCC. El DATM actúa como cajero automático cuando es necesario.</p>
                </div>
            </div>
        </div>
        <div class="col-md-0 col-xl-3"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-header bg-secondary">Administrador de Entrenamiento <a class="float-right" href="mailto:ta@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
                <div class="card-body">
                    {% for TA in staff.TA %}
                        <h4><img class="rounded-circle" src="{% if TA.profile_picture %}{{ TA.profile_picture.url }}{% else %}{% static 'img/placeholder-profile.png' %}{% endif %}" height="40px">&nbsp; {{ TA.full_name }}</h4>
                    {% empty %}
                        <h4><img class="rounded-circle" src="{% static 'img/placeholder-profile.png' %}" height="40px">&nbsp; Vacant</h4>
                    {% endfor %}
                    <p>El TA trabaja con ATM y DATM para crear programas de capacitación, establecer procedimientos de capacitación y recomendar instructores y mentores.</p>
                </div>
                {% if staff.ATA %}
                    <div class="card-header bg-secondary">Asistente de Administrador de Entrenamiento <a class="float-right" href="mailto:ata@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
                    <div class="card-body">
                        {% for ATA in staff.ATA %}
                            <h4><img class="rounded-circle" src="{% if ATA.profile_picture %}{{ ATA.profile_picture.url }}{% else %}{% static 'img/placeholder-profile.png' %}{% endif %}" height="40px">&nbsp; {{ ATA.full_name }}</h4>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-header bg-secondary">Coordinador de Eventos <a class="float-right" href="mailto:ec@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
                <div class="card-body">
                    {% for EC in staff.EC %}
                        <h4><img class="rounded-circle" src="{% if EC.profile_picture %}{{ EC.profile_picture.url }}{% else %}{% static 'img/placeholder-profile.png' %}{% endif %}" height="40px">&nbsp; {{ EC.full_name }}</h4>
                    {% empty %}
                        <h4><img class="rounded-circle" src="{% static 'img/placeholder-profile.png' %}" height="40px">&nbsp; Vacant</h4>
                    {% endfor %}
                    <p>La CE es responsable de la creación, planificación, publicidad y coordinación de eventos con instalaciones vecinas, aerolíneas virtuales, VATUSA e VATSIM.</p>
                </div>
                {% if staff.AEC %}
                    <div class="card-header bg-secondary">Asistente de Coordinador de Eventos <a class="float-right" href="mailto:aec@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
                    <div class="card-body">
                        {% for AEC in staff.AEC %}
                            <h4><img class="rounded-circle" src="{% if AEC.profile_picture %}{{ AEC.profile_picture.url }}{% else %}{% static 'img/placeholder-profile.png' %}{% endif %}" height="40px">&nbsp; {{ AEC.full_name }}</h4>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-header bg-secondary">Ingeniero de Instalaciones <a class="float-right" href="mailto:fe@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
                <div class="card-body">
                    {% for FE in staff.FE %}
                        <h4><img class="rounded-circle" src="{% if FE.profile_picture %}{{ FE.profile_picture.url }}{% else %}{% static 'img/placeholder-profile.png' %}{% endif %}" height="40px">&nbsp; {{ FE.full_name }}</h4>
                    {% empty %}
                        <h4><img class="rounded-circle" src="{% static 'img/placeholder-profile.png' %}" height="40px">&nbsp; Vacant</h4>
                    {% endfor %}
                    <p>La FE es responsable de la creación de archivos de sector, archivos de clientes de radar, escenarios de capacitación, documentos escritos y otros recursos ARTCC según lo indique el ATM.</p>
                </div>
                {% if staff.AFE %}
                    <div class="card-header bg-secondary">Asistente de Ingeniero de Instalaciones <a class="float-right" href="mailto:afe@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
                    <div class="card-body">
                        {% for AFE in staff.AFE %}
                            <h4><img class="rounded-circle" src="{% if AFE.profile_picture %}{{ AFE.profile_picture.url }}{% else %}{% static 'img/placeholder-profile.png' %}{% endif %}" height="40px">&nbsp; {{ AFE.full_name }}</h4>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-header bg-secondary">Administrador de Página Web <a class="float-right" href="mailto:wm@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
                <div class="card-body">
                    {% for WM in staff.WM %}
                        <h4><img class="rounded-circle" src="{% if WM.profile_picture %}{{ WM.profile_picture.url }}{% else %}{% static 'img/placeholder-profile.png' %}{% endif %}" height="40px">&nbsp; {{ WM.full_name }}</h4>
                    {% empty %}
                        <h4><img class="rounded-circle" src="{% static 'img/placeholder-profile.png' %}" height="40px">&nbsp; Vacant</h4>
                    {% endfor %}
                    <p>El WM es responsable del funcionamiento y mantenimiento de los servicios de TI de ARTCC, como el sitio web, el servidor Teamspeak y otras tareas según sea necesario.</p>
                </div>
                {% if staff.AWM %}
                    <div class="card-header bg-secondary">Asistente de Administrador de Página Web <a class="float-right" href="mailto:awm@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
                    <div class="card-body">
                        {% for AWM in staff.AWM %}
                            <h4><img class="rounded-circle" src="{% if AWM.profile_picture %}{{ AWM.profile_picture.url }}{% else %}{% static 'img/placeholder-profile.png' %}{% endif %}" height="40px">&nbsp; {{ AWM.full_name }}</h4>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header bg-secondary">Instructores <a class="float-right" href="mailto:instructor@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
                <div class="card-body">
                    {% for instructor in staff.INS %}
                        <h4><img class="rounded-circle" src="{% if instructor.profile_picture %}{{ instructor.profile_picture.url }}{% else %}{% static 'img/placeholder-profile.png' %}{% endif %}" height="40px">&nbsp; {{ instructor.full_name }}</h4>
                    {% empty %}
                        <h4>No Instructors</h4>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header bg-secondary">Mentores <a class="float-right" href="mailto:mentor@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
                <div class="card-body">
                    {% for mentor in staff.MTR %}
                        <h4><img class="rounded-circle" src="{% if mentor.profile_picture %}{{ mentor.profile_picture.url }}{% else %}{% static 'img/placeholder-profile.png' %}{% endif %}" height="40px">&nbsp; {{ mentor.full_name }} <span class="badge badge-info">{{ mentor.mentor_level }}</span></h4>
                    {% empty %}
                        <h4>No Mentors</h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}