{% load static %}
{% load filters %}

<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Virtual Houston ARTCC">
        <meta name="keywords" content="VATSIM,VATUSA,ZHU,Houston,Austin,New Orleans,Houston ARTCC,Virtual ATC">
        <meta name="author" content="Michael Romashov">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Welcome to Houston ARTCC!</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="home-wrapper">
            <!-- START Navbar -->
            <nav class="navbar navbar-expand-md navbar-shrink fixed-top">
                <a class="navbar-brand" href="{% url 'home' %}"><img class="navbar-logo-gray" src="{% static 'img/zhulogo-light.png' %}"><img class="navbar-logo-color d-none" src="{% static 'img/zhulogo.png' %}"></a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown ml-5">
                        <a class="nav-link" href="#" data-toggle="dropdown">Events</a>
                        <div class="dropdown-menu mt-3">
                            <a class="dropdown-item" href="{% url 'events' %}">Events</a>
                            <a class="dropdown-item" href="{% url 'archived_events' %}">Archived Events</a>
                            {% if not request.session.guest %}
                                <a class="dropdown-item" href="{% url 'event_score' %}">Event Score</a>
                            {% endif %}
                            {% if request.session.staff %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'new_event' %}">New Event</a>
                                <a class="dropdown-item" href="{% url 'presets' %}">Position Presets</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item dropdown ml-5">
                        <a class="nav-link" href="#" data-toggle="dropdown">Pilots</a>
                        <div class="dropdown-menu mt-3">
                            <a class="dropdown-item" href="{% url 'map' %}">ARTCC Map</a>
                            <a class="dropdown-item" href="https://simcharts.info/" target="_blank">Charts</a>
                            <a class="dropdown-item" href="http://www.flightaware.com/statistics/ifr-route/" target="_blank">Routing</a>
                            <a class="dropdown-item" href="{% url 'scenery' %}">Scenery</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'feedback' %}">Feedback</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ml-5">
                        <a class="nav-link" href="#" data-toggle="dropdown">Controllers</a>
                        <div class="dropdown-menu mt-3">
                            <a class="dropdown-item" href="{% url 'roster' %}">Roster</a>
                            <a class="dropdown-item" href="{% url 'staff' %}">Staff</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'resources' %}">Resources</a>
                            <a class="dropdown-item" href="{% url 'statistics' %}">Statistics</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ml-5">
                        {% if request.session.vatsim_data %}
                            <a class="nav-link" href="#" data-toggle="dropdown">{{ request.session.vatsim_data.firstname }} {{ request.session.vatsim_data.lastname }}</a>
                            <div class="dropdown-menu mt-3">
                                {% if request.session.guest %}
                                    <a class="dropdown-item" href="{% url 'visit' %}">Become a Visitor</a>
                                {% else %}
                                    <a class="dropdown-item" href="{% url 'view_user' cid=request.session.vatsim_data.cid %}">My Profile</a>
                                    <a class="dropdown-item" href="{% url 'training' %}">Training Center</a>
                                    {% if request.session.staff %}
                                        <a class="dropdown-item" href="{% url 'admin' %}">Administration Panel</a>
                                    {% elif request.session.mentor %}
                                        <a class="dropdown-item" href="{% url 'training_requests' %}">Training Requests</a>
                                    {% endif %}
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                            </div>
                        {% else %}
                            <a class="nav-link" href="https://login.vatusa.net/uls/v2/login?fac=ZHU&url=1">Log In</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
            <!-- END Navbar -->


            <!-- START Page Content -->
            <div class="home-title-block">
                <h1 class="home-title">Welcome to<br>Houston</h1>
                <h2 class="home-subtitle">From longhorns to space ships, we've got it all!</h2>
                <p class="scroll-arrow"><i class="far fa-sm fa-arrow-left"></i>&nbsp; Scroll</p>
            </div>
            <div class="page-container">
                <div class="row">
                    <div class="col-12 col-lg-8 mt-4 mt-md-2">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="card text-center">
                                    <div class="card-body bg-gold">
                                        <h2 class="mb-3" style="font-size: 20px;"><i class="far fa-trophy-alt"></i> First Place</h2>
                                        <div class="card-footer">
                                            <h3>{{ top_controllers.0.user.full_name }}</h3>
                                            <h5 class="mb-0">{{ top_controllers.0.hours|duration }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card text-center">
                                    <div class="card-body bg-silver">
                                        <h2 class="mb-3" style="font-size: 20px;"><i class="far fa-trophy"></i> Second Place</h2>
                                        <div class="card-footer">
                                            <h3>{{ top_controllers.1.user.full_name }}</h3>
                                            <h5 class="mb-0">{{ top_controllers.1.hours|duration }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card text-center">
                                    <div class="card-body bg-bronze">
                                        <h2 class="mb-3" style="font-size: 20px;"><i class="far fa-trophy"></i> Third Place</h2>
                                        <div class="card-footer">
                                            <h3>{{ top_controllers.2.user.full_name }}</h3>
                                            <h5 class="mb-0">{{ top_controllers.2.hours|duration }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header"><i class="far fa-newspaper"></i> Recent Announcements</div>
                            <div class="card-body">
                                <ul class="list-unstyled mb-0">
                                    {% for announcement in announcements %}
                                        <li>
                                            <button class="btn btn-link mb-0" data-action="announcement" data-subject="{{ announcement.subject }}" data-message="{{ announcement.message }}">
                                                <h5><span class="badge badge-primary">{{ announcement.created|date:'M. j Y' }}</span> {{ announcement.subject }} <small><span class="text-black-50">by {{ announcement.author.full_name }}</span></small></h5>
                                            </button>
                                        </li>
                                    {% empty %}
                                        <li>No announcements were found...</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header"><i class="far fa-calendar"></i> Events</div>
                            <div class="card-body">
                                {% for event in events %}
                                    <a href="{% url 'event' event_id=event.id %}"><img src="{{ event.banner }}" width="100%"></a>
                                {% empty %}
                                    No events were found...
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mt-4 mt-md-2">
                        <a href="https://discord.gg/Ag2cdZz">
                            <div class="text-center text-white p-5" style="background-color: #7289DA; margin-bottom: 30px;">
                                <h3 class="mb-0"><i class="fab fa-discord"></i> Discord</h3>
                            </div>
                        </a>
                        <div class="card">
                            <div class="card-header"><i class="far fa-user"></i> Online Controllers</div>
                            <div class="card-body">
                                <table class="table text-center">
                                    <thead>
                                        <tr>
                                            <th>Callsign</th>
                                            <th>Controller</th>
                                            <th>Duration</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for controller in online %}
                                            <tr>
                                                <td class="py-2">{{ controller.callsign }}</td>
                                                <td class="py-2">{{ controller.user.full_name }}</td>
                                                <td class="py-2">{{ controller.duration|duration }}</td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td class="py-2" colspan="3">No controllers online.</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header"><i class="far fa-plane"></i> Pilots within Houston</div>
                            <div class="card-body">
                                <div class="text-center" id="pilots-loader">
                                    <img src="{% static 'img/preloader.gif' %}" style="width: 100px;">
                                </div>
                                <table class="table text-center" id="pilots">
                                    <thead>
                                        <tr>
                                            <th>Callsign</th>
                                            <th>Departure</th>
                                            <th>Arrival</th>
                                        </tr>
                                    </thead>
                                    <tbody id="flights">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header"><i class="far fa-cloud-sun"></i> Weather</div>
                            <div class="card-body">
                                <div class="text-center" id="weather-loader">
                                    <img src="{% static 'img/preloader.gif' %}" style="width: 100px;">
                                </div>
                                <table class="table text-center" id="weather">
                                    <thead>
                                        <tr>
                                            <th>Station</th>
                                            <th>Condition</th>
                                        </tr>
                                    </thead>
                                    <tbody id="metars">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Page Content -->


            <footer class="bg-secondary">
                <p class="mb-1"><b>Copyright &copy; 2020 Virtual Houston ARTCC. All rights reserved.</b></p>
                <p class="mb-1">All information on this website is for flight simulation use only and is not to be used for real world navigation or flight. This site is not affiliated with ICAO, the FAA, the actual Houston ARTCC, or any other real world aerospace entity.</p>
                <p class="float-right"><b><a class="text-danger" href="https://github.com/MikeRomaa/zhuartcc.org/issues" target="_blank"><i class="far fa-bug"></i> Report a bug</a></b></p>
                <p class="mb-1"><b>
                    <a href="https://vatsim.net" target="_blank">VATSIM</a>&nbsp; <i class="fas fa-angle-right"></i>&nbsp;
                    <a href="https://vatusa.net" target="_blank">VATUSA</a>&nbsp; <i class="fas fa-angle-right"></i>&nbsp;
                    <a href="{% url 'privacy' %}">Privacy Policy</a>&nbsp; <i class="fas fa-angle-right"></i>&nbsp;
                    <a href="{% url 'feedback' %}">Feedback</a>&nbsp; <i class="fas fa-angle-right"></i>&nbsp;
                    <a href="http://discord.gg/Ag2cdZz" target="_blank">Discord</a>&nbsp; <i class="fas fa-angle-right"></i>&nbsp;
                    <a href="https://github.com/MikeRomaa/zhuartcc.org" target="_blank">GitHub</a>
                </b></p>
            </footer>
        </div>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{% static 'js/index.js' %}"></script>
        <script>
            $('#weather, #pilots').hide()
            $('[data-action="announcement"]').click(function() {
                launchCustomModal(
                    'news',
                    $(this).data('subject'),
                    $(this).data('message'),
                    false,
                    true
                )
            })
            $(function() {
                let airports = ['KIAH', 'KHOU', 'KMSY', 'KCRP', 'KAUS', 'KSAT', 'KLCH']
                for (let airport of airports) {
                    $.get('https://cors-anywhere.herokuapp.com/' +
                            'https://www.aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&hoursBeforeNow=3&mostRecent=true&stationString=' + airport
                    )
                    .done(function(data) {
                        let metar_list = data.getElementsByTagName('data')[0].children
                        for (let metar of metar_list) {
                            let id = metar.getElementsByTagName('station_id')[0].textContent
                            let raw = metar.getElementsByTagName('raw_text')[0].textContent
                            let category = metar.getElementsByTagName('flight_category')[0]?.textContent
                            $('#metars').append(
                                `<tr>
                                    <td class="py-2">${id}</td>
                                    <td class="py-2" data-toggle="popover" data-placement="top" data-content="${raw}">
                                        <span class="badge badge-${(category === 'VFR' ? 'success' : category === 'MVFR' ? 'info' : category === 'IFR' ? 'warning' : category === 'LIFR' ? 'danger' : 'muted')}">${category ? category : 'N/A'}</span>
                                    </td>
                                </tr>`
                            )
                        }
                    })
                }
                $('#weather-loader').fadeOut('fast', function() {
                    $(this).remove()
                    $('#weather').fadeIn('fast')
                    $('[data-toggle="popover"]').popover().hover(function() { $(this).popover('show') }, function() { $(this).popover('hide') })
                })
                $.get('https://cors-anywhere.herokuapp.com/https://api.denartcc.org/live/ZHU')
                .done(function(data) {
                    let flights = JSON.parse(data)
                    if (flights.length > 0) {
                        flights.forEach(function (flight) {
                            $('#flights').append(
                                `<tr>
                                    <td class="py-2">${flight.callsign}</td>
                                    <td class="py-2">${flight.dep ? flight.dep : '<span class="text-muted">N/A</span>'}</td>
                                    <td class="py-2">${flight.arr ? flight.arr : '<span class="text-muted">N/A</span>'}</td>
                                </tr>)`
                            )
                        })
                    } else {
                        $('#flights').append('<tr><td class="py-2" colspan="3">No pilots in Houston.</td></tr>')
                    }
                    $('#pilots-loader').fadeOut('fast', function() {
                        $(this).remove()
                        $('#pilots').fadeIn('fast')
                    })
                })
            })
        </script>
    </body>
</html>