<footer class="bg-secondary">
    <p class="mb-1"><b>Copyright &copy; 2020 Virtual Houston ARTCC. All rights reserved.</b></p>
    <p class="mb-1">All information on this website is for flight simulation use only and is not to be used for real world navigation or flight. This site is not affiliated with ICAO, the FAA, the actual Houston ARTCC, or any other real world aerospace entity.</p>
    <p class="float-right"><b><a class="text-danger" href="https://github.com/MikeRomaa/zhuartcc.org/issues" target="_blank"><i class="far fa-bug"></i> Report a bug</a></b></p>
    <p class="mb-1"><b>
        <a href="https://vatsim.net" target="_blank">VATSIM</a>&nbsp; <i class="fas fa-angle-right"></i>&nbsp;
        <a href="https://vatusa.net" target="_blank">VATUSA</a>&nbsp; <i class="fas fa-angle-right"></i>&nbsp;
        <a href="/privacy/" target="_blank">Privacy Policy</a>&nbsp; <i class="fas fa-angle-right"></i>&nbsp;
        <a href="/feedback/" target="_blank">Feedback</a>&nbsp; <i class="fas fa-angle-right"></i>&nbsp;
        <a href="http://discord.gg/Ag2cdZz" target="_blank">Discord</a>&nbsp; <i class="fas fa-angle-right"></i>&nbsp;
        <a href="https://github.com/MikeRomaa/zhuartcc.org" target="_blank">GitHub</a>
    </b></p>
</footer>