<footer class="bg-secondary">
    <p class="mb-1"><b>Copyright &copy; 2021 Virtual Houston ARTCC. Reservados todos los derechos.</b></p>
    <p class="mb-1">Toda la información en este sitio web es para uso exclusivo de simulación de vuelo y no debe usarse para navegación o vuelo en el mundo real. Este sitio no está afiliado a la OACI, la FAA, la ARTCC de Houston ni ninguna otra entidad aeroespacial del mundo real.</p>
    <p class="float-right"><b><a class="text-danger" href="https://github.com/MikeRomaa/zhuartcc.org/issues" target="_blank"><i class="far fa-bug"></i> Reportar un Error</a></b></p>
    <p class="mb-1"><b>
        <a href="https://vatsim.net" target="_blank">VATSIM</a>&nbsp; <i class="fas fa-angle-right"></i>&nbsp;
        <a href="http://www.vatmex.com/mi_acaENG.php" target="_blank">VATMEX</a>&nbsp; <i class="fas fa-angle-right"></i>&nbsp;
        <a href="{% url 'privacy' %}">Política de Privacidad</a>&nbsp; <i class="fas fa-angle-right"></i>&nbsp;
        <a href="{% url 'feedback' %}">Realimentación</a>&nbsp; <i class="fas fa-angle-right"></i>&nbsp;
        <a href="http://discord.gg/Ag2cdZz" target="_blank">Discord</a>&nbsp; <i class="fas fa-angle-right"></i>&nbsp;
        <a href="https://github.com/MikeRomaa/zhuartcc.org" target="_blank">GitHub</a>
    </b></p>
</footer>
