{% load static %}

<nav class="navbar navbar-expand-md navbar-shrink {% if dark %}navbar-dark{% endif %} fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img class="navbar-logo-gray" src="{% static 'img/zhulogo.png' %}">
        <img class="navbar-logo-color d-none" src="{% static 'img/zhulogo.png' %}">
    </a>
    <ul class="navbar-nav ml-auto d-none d-lg-flex">
        <li class="nav-item ml-5">
            <a class="nav-link" href="{% url 'calendar' %}">Calendario</a>
        </li>
        <li class="nav-item dropdown ml-5">
            <a class="nav-link" href="#" data-toggle="dropdown">Eventos</a>
            <div class="dropdown-menu mt-3">
                <a class="dropdown-item" href="{% url 'events' %}">Eventos</a>
                <a class="dropdown-item" href="{% url 'archived_events' %}">Eventos Archivados</a>
                {% if request.user_obj %}
                    <a class="dropdown-item" href="{% url 'event_score' %}">Puntuación del Evento</a>
                {% endif %}
                {% if request.user_obj.is_staff %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'new_event' %}">Nuevo Evento</a>
                    <a class="dropdown-item" href="{% url 'presets' %}">Posición Preestablecida</a>
                {% endif %}
            </div>
        </li>
        <li class="nav-item dropdown ml-5">
            <a class="nav-link" href="#" data-toggle="dropdown">Pilotos</a>
            <div class="dropdown-menu mt-3">
                <a class="dropdown-item" href="{% url 'map' %}">Mapa de ARTCC</a>
                <a class="dropdown-item" href="https://simcharts.info/" target="_blank">Gráficos</a>
                <a class="dropdown-item" href="http://www.flightaware.com/statistics/ifr-route/" target="_blank">Enrutamiento</a>
                <a class="dropdown-item" href="{% url 'scenery' %}">Paisaje</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'feedback' %}">Realimentación</a>
            </div>
        </li>
        <li class="nav-item dropdown ml-5">
            <a class="nav-link" href="#" data-toggle="dropdown">Controladores</a>
            <div class="dropdown-menu mt-3">
                <a class="dropdown-item" href="{% url 'roster' %}">Lista</a>
                <a class="dropdown-item" href="{% url 'staff' %}">Personal</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://vzhuids.net">Houston IDS</a>
                <a class="dropdown-item" href="{% url 'resources' %}">Recursos</a>
                <a class="dropdown-item" href="{% url 'statistics' %}">Estadísticas</a>
            </div>
        </li>
        <li class="nav-item dropdown ml-5">
            {% if request.session.vatsim_data %}
                <a class="nav-link" href="#" data-toggle="dropdown">{{ request.session.vatsim_data.firstname }} {{ request.session.vatsim_data.lastname }}</a>
                <div class="dropdown-menu mt-3">
                    {% if request.user_obj %}
                        <a class="dropdown-item" href="{% url 'view_user' cid=request.user_obj.cid %}">Mi Perfil</a>
                        <a class="dropdown-item" href="{% url 'training' %}">Centro de Entrenamiento</a>
                        {% if request.user_obj.is_staff or request.user_obj.is_mentor %}
                            <a class="dropdown-item" href="{% url 'admin' %}">Panel de Administración</a>
                        {% endif %}
                    {% else %}
                        <a class="dropdown-item" href="{% url 'visit' %}">Conviértete en Visitante</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                </div>
            {% else %}
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
            {% endif %}
        </li>
    </ul>
    <div class="nav-hamburger d-block d-lg-none">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
<div class="nav d-block d-lg-none">
    <div class="mobile-nav-content">
        <ul class="mobile-nav-list">
            <li class="mobile-nav-list-item"><a href="/events">Events</a></li>
            <li class="mobile-nav-list-item"><a href="/roster">Roster</a></li>
            <li class="mobile-nav-list-item"><a href="/events">Events</a></li>
            {% if request.session.vatsim_data %}
                <a class="nav-link" href="#" data-toggle="dropdown">{{ request.session.vatsim_data.firstname }} {{ request.session.vatsim_data.lastname }}</a>
                <div class="dropdown-menu mt-3">
                    {% if request.user_obj %}
                        <a class="dropdown-item" href="{% url 'view_user' cid=request.user_obj.cid %}">My Profile</a>
                        <a class="dropdown-item" href="{% url 'training' %}">Training Center</a>
                        {% if request.user_obj.is_staff or request.user_obj.is_mentor %}
                            <a class="dropdown-item" href="{% url 'admin' %}">Administration Panel</a>
                        {% endif %}
                    {% else %}
                        <a class="dropdown-item" href="{% url 'visit' %}">Become a Visitor</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                <li class="mobile-nav-list-item"><a href="{% url 'logout' %}">Log Out</a></li>
                </div>
            {% else %}
                <li class="mobile-nav-list-item"><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
        </ul>
    </div>
</div>
