{% load static %}

<nav class="navbar navbar-expand-md navbar-shrink fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}"><img class="navbar-logo-gray" src=" {% if dark %}{% static 'img/zhulogo-dark-october.png' %}{% else %}{% static 'img/zhulogo-light-october.png' %}{% endif %}"><img class="navbar-logo-color d-none" src="{% static 'img/zhulogo-october.png' %}"></a>
    <ul class="navbar-nav ml-auto {% if dark %}navbar-dark{% endif %} d-none d-lg-flex">
        <li class="nav-item ml-5">
            <a class="nav-link" href="{% url 'calendar' %}">Calendar</a>
        </li>
        <li class="nav-item dropdown ml-5">
            <a class="nav-link" href="#" data-toggle="dropdown">Events</a>
            <div class="dropdown-menu mt-3">
                <a class="dropdown-item" href="{% url 'events' %}">Events</a>
                <a class="dropdown-item" href="{% url 'archived_events' %}">Archived Events</a>
                {% if request.user_obj %}
                    <a class="dropdown-item" href="{% url 'event_score' %}">Event Score</a>
                {% endif %}
                {% if request.user_obj.is_staff %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'new_event' %}">New Event</a>
                    <a class="dropdown-item" href="{% url 'presets' %}">Position Presets</a>
                {% endif %}
            </div>
        </li>
        <li class="nav-item dropdown ml-5">
            <a class="nav-link" href="#" data-toggle="dropdown">Pilots</a>
            <div class="dropdown-menu mt-3">
                <a class="dropdown-item" href="{% url 'map' %}">ARTCC Map</a>
                <a class="dropdown-item" href="https://simcharts.info/" target="_blank">Charts</a>
                <a class="dropdown-item" href="http://www.flightaware.com/statistics/ifr-route/" target="_blank">Routing</a>
                <a class="dropdown-item" href="{% url 'scenery' %}">Scenery</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'feedback' %}">Feedback</a>
            </div>
        </li>
        <li class="nav-item dropdown ml-5">
            <a class="nav-link" href="#" data-toggle="dropdown">Controllers</a>
            <div class="dropdown-menu mt-3">
                <a class="dropdown-item" href="{% url 'roster' %}">Roster</a>
                <a class="dropdown-item" href="{% url 'staff' %}">Staff</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://sites.google.com/view/vzhuids/home">Houston IDS</a>
                <a class="dropdown-item" href="{% url 'resources' %}">Resources</a>
                <a class="dropdown-item" href="{% url 'statistics' %}">Statistics</a>
            </div>
        </li>
        <li class="nav-item dropdown ml-5">
            {% if request.session.vatsim_data %}
                <a class="nav-link" href="#" data-toggle="dropdown">{{ request.session.vatsim_data.firstname }} {{ request.session.vatsim_data.lastname }}</a>
                <div class="dropdown-menu mt-3">
                    {% if request.user_obj %}
                        <a class="dropdown-item" href="{% url 'view_user' cid=request.user_obj.cid %}">My Profile</a>
                        <a class="dropdown-item" href="{% url 'training' %}">Training Center</a>
                        {% if request.user_obj.is_staff or request.user_obj.is_mentor %}
                            <a class="dropdown-item" href="{% url 'admin' %}">Administration Panel</a>
                        {% endif %}
                    {% else %}
                        <a class="dropdown-item" href="{% url 'visit' %}">Become a Visitor</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                </div>
            {% else %}
                <a class="nav-link" href="https://login.vatusa.net/uls/v2/login?fac=ZHU&url=1">Log In</a>
            {% endif %}
        </li>
    </ul>
    <div class="nav-hamburger d-block d-lg-none">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
<div class="nav d-block d-lg-none">
    <div class="mobile-nav-content">
        <ul class="mobile-nav-list">
        </ul>
    </div>
</div>
