{% extends 'secondaryTemplate.html' %}
{% load filters %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
{% endblock %}

{% block header %}
    <h2 style="font-size: 40px">You are now editing</h2>
    <h1 style="font-size: 65px">{{ event.name }}</h1>
{% endblock %}

{% block body %}
    <form action="/events/{{ event.id }}/edit/" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Event Details</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="label-group">
                                    <input name="name" type="text" value="{{ event.name }}" required>
                                    <label>Event Name</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="label-group">
                                    <input name="start" type="datetime-local" value="{{ event.start|to_iso_format }}" required>
                                    <label>Start Time (Zulu)</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="label-group">
                                    <input name="end" type="datetime-local" value="{{ event.end|to_iso_format }}" required>
                                    <label>End Time (Zulu)</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="label-group">
                                    <input name="banner" type="text" value="{{ event.banner }}" required>
                                    <label>Banner URL</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="label-group">
                                    <input name="host" type="text" value="{{ event.host }}" required>
                                    <label>Event Host</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="text-left col-12 mb-3 toggle">
                                <input name="hidden" type="checkbox" {% if event.hidden %}checked{% endif %}>
                                <label>Event hidden from controllers</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Event Description</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="label-group">
                                    <textarea name="description" rows="9">{{ event.description }}</textarea>
                                    <label>Event Description</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-secondary">Return to Event</button>
        <button class="btn btn-primary">Save Changes</button>
    </form>
    <hr>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h5 class="mb-0">Center Assignments</h5>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        {% for position in positions.center %}
                            <li class="py-2">
                                <div class="float-right">
                                    <a class="text-info" data-action="unassign" data-id="{{ position.id }}"><b><i class="far fa-user-times"></i> Unassign</b></a> &nbsp;
                                    <a class="text-danger" data-action="delete" data-id="{{ position.id }}"><b><i class="far fa-times"></i> Delete</b></a>
                                </div>
                                <b>{{ position.name }}</b>
                                <select class="selectpicker show-tick" title="Select Controller" data-width="100%">
                                    {% if position.user %}
                                        <option data-content="<span class='text-dark'>{{ position.user.full_name }} <span class='badge badge-sm
                                            {% if position.user.event_score >= 90 %}badge-success
                                            {% elif position.user.event_score >= 65 %}badge-warning
                                            {% elif position.user.event_score < 65 %}badge-danger
                                            {% endif %}'>{{ position.user.event_score }}%</span></span>" selected>{{ position.user.full_name }}</option>
                                    {% endif %}
                                    {% for request in position.requests.all %}
                                        {% if position.user != request.user %}
                                            <option value="{{ request.id }}" data-content="<span class='text-dark'>{{ request.user.full_name }} <span class='badge badge-sm
                                            {% if request.user.event_score >= 90 %}badge-success
                                            {% elif request.user.event_score >= 65 %}badge-warning
                                            {% elif request.user.event_score < 65 %}badge-danger
                                            {% endif %}'>{{ request.user.event_score }}%</span></span>">{{ request.user.full_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </li>
                        {% empty %}
                            <li class="py-2"><i>No positions posted...</i></li>
                        {% endfor %}
                    </ul>
                    <input class="form-control d-inline mr-3 position-input" style="width: 30%">
                    <button class="btn btn-primary" data-action="add-position"><i class="far fa-plus"></i> Add Position</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h5 class="mb-0">TRACON Assignments</h5>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        {% for position in positions.tracon %}
                            <li class="py-2">
                                <div class="float-right">
                                    <a class="text-info" data-action="unassign" data-id="{{ position.id }}"><b><i class="far fa-user-times"></i> Unassign</b></a> &nbsp;
                                    <a class="text-danger" data-action="delete" data-id="{{ position.id }}"><b><i class="far fa-times"></i> Delete</b></a>
                                </div>
                                <b>{{ position.name }}</b>
                                <select class="selectpicker show-tick" title="Select Controller" data-width="100%">
                                    {% if position.user %}
                                        <option data-content="<span class='text-dark'>{{ position.user.full_name }} <span class='badge badge-sm
                                            {% if position.user.event_score >= 90 %}badge-success
                                            {% elif position.user.event_score >= 65 %}badge-warning
                                            {% elif position.user.event_score < 65 %}badge-danger
                                            {% endif %}'>{{ position.user.event_score }}%</span></span>" selected>{{ position.user.full_name }}</option>
                                    {% endif %}
                                    {% for request in position.requests.all %}
                                        {% if position.user != request.user %}
                                            <option value="{{ request.id }}" data-content="<span class='text-dark'>{{ request.user.full_name }} <span class='badge badge-sm
                                            {% if request.user.event_score >= 90 %}badge-success
                                            {% elif request.user.event_score >= 65 %}badge-warning
                                            {% elif request.user.event_score < 65 %}badge-danger
                                            {% endif %}'>{{ request.user.event_score }}%</span></span>">{{ request.user.full_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </li>
                        {% empty %}
                            <li class="py-2"><i>No positions posted...</i></li>
                        {% endfor %}
                    </ul>
                    <input class="form-control d-inline mr-3 position-input" style="width: 30%">
                    <button class="btn btn-primary" data-action="add-position"><i class="far fa-plus"></i> Add Position</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h5 class="mb-0">Cab Assignments</h5>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        {% for position in positions.cab %}
                            <li class="py-2">
                                <div class="float-right">
                                    <a class="text-info" data-action="unassign" data-id="{{ position.id }}"><b><i class="far fa-user-times"></i> Unassign</b></a> &nbsp;
                                    <a class="text-danger" data-action="delete" data-id="{{ position.id }}"><b><i class="far fa-times"></i> Delete</b></a>
                                </div>
                                <b>{{ position.name }}</b>
                                <select class="selectpicker show-tick" title="Select Controller" data-width="100%">
                                    {% if position.user %}
                                        <option data-content="<span class='text-dark'>{{ position.user.full_name }} <span class='badge badge-sm
                                            {% if position.user.event_score >= 90 %}badge-success
                                            {% elif position.user.event_score >= 65 %}badge-warning
                                            {% elif position.user.event_score < 65 %}badge-danger
                                            {% endif %}'>{{ position.user.event_score }}%</span></span>" selected>{{ position.user.full_name }}</option>
                                    {% endif %}
                                    {% for request in position.requests.all %}
                                        {% if position.user != request.user %}
                                            <option value="{{ request.id }}" data-content="<span class='text-dark'>{{ request.user.full_name }} <span class='badge badge-sm
                                            {% if request.user.event_score >= 90 %}badge-success
                                            {% elif request.user.event_score >= 65 %}badge-warning
                                            {% elif request.user.event_score < 65 %}badge-danger
                                            {% endif %}'>{{ request.user.event_score }}%</span></span>">{{ request.user.full_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </li>
                        {% empty %}
                            <li class="py-2"><i>No positions posted...</i></li>
                        {% endfor %}
                    </ul>
                    <input class="form-control d-inline mr-3 position-input" style="width: 30%">
                    <button class="btn btn-primary" data-action="add-position"><i class="far fa-plus"></i> Add Position</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script>
        $('[data-action="unassign"]').click(function() {
            $.post('/events/unassign/' + $(this).data('id') + '/')
            .done(function() {
                location.reload()
            })
            .fail(function(error) {
                launchErrorModal('Error ' + error.status + ': ' + error.responseText)
            })
        })
        $('[data-action="delete"]').click(function() {
            $.post('/events/delete/' + $(this).data('id') + '/')
            .done(function() {
                location.reload()
            })
            .fail(function(error) {
                launchErrorModal('Error ' + error.status + ': ' + error.responseText)
            })
        })
        $('.position-input').keyup(function(event) {
            let pos = $(this).val()
            if (event.key === 'Enter' || event.keyCode === 13) {
                addPos(pos)
            }
        })
        $('[data-action="add-position"]').click(function() {
            addPos($(this).parent().find('.position-input').val())
        })
        $('select').change(function() {
            $.post('/events/assign/' + $(this).val() + '/')
            .done(function() {
                location.reload()
            })
            .fail(function(error) {
                launchErrorModal('Error ' + error.status + ': ' + error.responseText)
            })
        })
        function addPos(pos) {
            $.post('/events/add/{{ event.id }}/', {position: pos})
            .done(function() {
                location.reload()
            })
            .fail(function(error) {
                launchErrorModal('Error ' + error.status + ': ' + error.responseText)
            })
        }
    </script>
{% endblock %}