{% extends 'secondaryTemplate.html' %}
{% load filters %}

{% block header %}
    <h2 style="font-size: 40px">Event score history for</h2>
    <h1 style="font-size: 65px">{{ user.full_name }}</h1>
{% endblock %}

{% block body %}
    <h3 class="mb-4">
        {{ user.first_name }}'s Event Score:
        <span class='badge badge-md
            {% if user.event_score >= 90 %}badge-success
            {% elif user.event_score >= 65 %}badge-warning
            {% elif user.event_score < 65 %}badge-danger
            {% endif %}'>{{ user.event_score }}%
        </span>
    </h3>
    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead></thead>
                <tbody>
                    {% for score in user.event_scores.all %}
                        <tr>
                            <td class="text-center">
                                <span class='badge
                                    {% if score.score >= 90 %}badge-success
                                    {% elif score.score >= 65 %}badge-warning
                                    {% elif score.score < 65 %}badge-danger
                                    {% endif %}'>{{ score.score }}%
                                </span>
                            </td>
                            <td>{{ score.event.name }} <b>({{ score.event.start|date:'M d, Y' }})</b></td>
                            <td>{{ score.comments|default:'<i>No Comments Available</i>'|safe }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="text-center">
                            {% if user.main_role == 'HC' %}
                                <span class='badge badge-success'>100%</span>
                            {% else %}
                                <span class='badge badge-warning'>85%</span>
                            {% endif %}
                        </td>
                        <td>N/A</td>
                        <td>Initial score. Home controllers receive <span class="badge badge-sm badge-success">100%</span> and visiting controllers receive <span class="badge badge-sm badge-warning">85%</span>.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
    </script>
{% endblock %}