{% extends 'mainTemplate.html' %}

{% block body %}
    {% if request.user_obj.is_staff %}
        <div class="text-center">
            <a href="{% url 'new_event' %}"><button class="btn btn-lg btn-primary mb-4"><i class="far fa-plus"></i> Create New Event</button></a>
        </div>
    {% endif %}
    <div class="row">
        {% for event in events %}
            {% if event.hidden and request.user_obj.is_staff or not event.hidden %}
                <div class="col-12 col-lg-6">
                    <a href="{% url 'event' event_id=event.id %}">
                        <div class="card">
                            <div class="card-header bg-secondary">
                                <h4 style="font-size: 40px">{{ event.name }} {% if event.hidden %}<i class="far fa-eye-slash text-danger"></i>{% endif %}</h4>
                                <h2>{{ event.start|date:'M d, Y | Hi\z' }} <i class="far fa-xs fa-long-arrow-right"></i> {{ event.end|date:'Hi\z' }}</h2>
                            </div>
                            <div class="card-body p-0">
                                <img src="{{ event.banner }}" style="width: 100%">
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}