{% extends 'secondaryTemplate.html' %}
{% load filters %}

{% block header %}
    <div class="text-right float-right">
        <h1 style="font-size: 65px" id="countdown">N/A</h1>
        <h2 style="font-size: 40px" id="countdown-sub">Until Event</h2>
    </div>
    <h1 style="font-size: 65px">{{ event.name }}</h1>
    <h2 style="font-size: 40px">{{ event.start|date:'M d, Y | Hi\z' }} <i class="far fa-xs fa-arrow-right"></i> {{ event.end|date:'Hi\z' }}</h2>
{% endblock %}

{% block body %}
    {% if event.hidden %}
        <div class="alert alert-primary">
            <h4 class="alert-heading">Event Hidden</h4>
            <p class="mb-0">This event is currently hidden and is only visibile by ARTCC staff members. To make this event visible, <a href="edit/" class="alert-link">edit the event</a>.</p>
        </div>
    {% endif %}
    {% if event.end <= time_now %}
        <div class="alert alert-success mb-4">
            <h4 class="alert-heading">Event Archived</h4>
            <p class="mb-0">This event has passed and is now in a read-only archived state.</p>
        </div>
    {% endif %}
    {% if request.session.staff and event.end >= time_now %}
        <a href="edit/"><button class="btn btn-secondary mb-4"><i class="far fa-pencil-ruler"></i> Edit Event</button></a>
    {% endif %}
    <div class="card">
        <div class="card-body">
            <img class="d-inline float-right ml-4 mb-4" src="{{ event.banner }}" style="max-width: 50%">
            <h3>Presented by {{ event.host }}</h3>
            <p>{{ event.description|linebreaks }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h5>Center Assignments</h5>
                    <p class="mb-0">({{ available.center|default:0 }} Available)</p>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        {% for position in positions.center %}
                            <li>
                                <b>{{ position.name }}</b> -
                                {% if allowed_to_signup %}
                                    {% if position.user %}
                                        {{ position.user.full_name }}
                                    {% elif position.requests.all|id_from_user:user.id %}
                                        <b><a class="text-success" data-action="unrequest" data-id="{{ position.requests.all|id_from_user:user.id }}" data-toggle="tooltip" data-placement="right" title="Click to remove request">Requested</a></b>
                                    {% else %}
                                        <b><a class="text-info" data-action="request" data-id="{{ position.id }}" data-toggle="tooltip" data-placement="right" title="Click to request position">Request</a></b>
                                    {% endif %}
                                {% else %}
                                    {% if position.user %}
                                        {{ position.user.full_name }}
                                    {% else %}
                                        Unassigned
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% empty %}
                            <li><i>No positions posted...</i></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h5>TRACON Assignments</h5>
                    <p class="mb-0">({{ available.tracon|default:0 }} Available)</p>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        {% for position in positions.tracon %}
                            <li>
                                <b>{{ position.name }}</b> -
                                {% if allowed_to_signup %}
                                    {% if position.user %}
                                        {{ position.user.full_name }}
                                    {% elif position.requests.all|id_from_user:user.id %}
                                        <b><a class="text-success" data-action="unrequest" data-id="{{ position.requests.all|id_from_user:user.id }}" data-toggle="tooltip" data-placement="right" title="Click to remove request">Requested</a></b>
                                    {% else %}
                                        <b><a class="text-info" data-action="request" data-id="{{ position.id }}" data-toggle="tooltip" data-placement="right" title="Click to request position">Request</a></b>
                                    {% endif %}
                                {% else %}
                                    {% if position.user %}
                                        {{ position.user.full_name }}
                                    {% else %}
                                        Unassigned
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% empty %}
                            <li><i>No positions posted...</i></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h5>Cab Assignments</h5>
                    <p class="mb-0">({{ available.cab|default:0 }} Available)</p>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        {% for position in positions.cab %}
                            <li>
                                <b>{{ position.name }}</b> -
                                {% if allowed_to_signup %}
                                    {% if position.user %}
                                        {{ position.user.full_name }}
                                    {% elif position.requests.all|id_from_user:user.id %}
                                        <b><a class="text-success" data-action="unrequest" data-id="{{ position.requests.all|id_from_user:user.id }}" data-toggle="tooltip" data-placement="right" title="Click to remove request">Requested</a></b>
                                    {% else %}
                                        <b><a class="text-info" data-action="request" data-id="{{ position.id }}" data-toggle="tooltip" data-placement="right" title="Click to request position">Request</a></b>
                                    {% endif %}
                                {% else %}
                                    {% if position.user %}
                                        {{ position.user.full_name }}
                                    {% else %}
                                        Unassigned
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% empty %}
                            <li><i>No positions posted...</i></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function updateTimer() {
            let event_end = new Date("{{ event.end|date:'M d, Y H:i \U\T\C' }}")
            let time_now = new Date()
            if (event_end < time_now) {
                $('#countdown').text(`Event Has Ended`)
                $('#countdown-sub').remove()
            } else {
                let event_start = new Date("{{ event.start|date:'M d, Y H:i \U\T\C' }}")
                let time_until = event_start - time_now
                if (time_until > 0) {
                    let seconds = Math.floor((time_until % 60000) / 1000)
                    let minutes = Math.floor((time_until % 3600000) / 60000)
                    let hours = Math.floor((time_until % 86400000) / 3600000)
                    let days = Math.floor(time_until / 86400000)
                    $('#countdown').text(`${days}d ${hours}h ${minutes}m ${seconds}s`)
                } else if (time_until <= 0) {
                    $('#countdown').text(`Event Has Begun`)
                    $('#countdown-sub').remove()
                }
            }
        }
        updateTimer()
        setInterval(function() { updateTimer() }, 1000)

        {% if allowed_to_signup %}
            $('[data-action="request"]').click(function() {
                $.post('/events/request/' + $(this).data('id') + '/')
                .done(function() {
                    location.reload()
                })
                .fail(function(error) {
                    launchErrorModal('Error ' + error.status + ': ' + error.responseText)
                })
            })
            $('[data-action="unrequest"]').click(function() {
                $.post('/events/unrequest/' + $(this).data('id') + '/')
                .done(function() {
                    location.reload()
                })
                .fail(function(error) {
                    launchErrorModal('Error ' + error.status + ': ' + error.responseText)
                })
            })
        {% endif %}
    </script>
{% endblock %}