{% extends 'secondaryTemplate.html' %}
{% load filters %}

{% block stylesheets %}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block header %}
    <h2 style="font-size: 40px">You are now filing</h2>
    <h1 style="font-size: 65px">{{ session.student.first_name }}'s {{ session.get_level_display }} Session</h1>
{% endblock %}

{% block body %}
    <div class="alert alert-info mb-4">
        <h4 class="alert-heading"><i class="fas fa-exclamation-triangle"></i> Important!</h4>
        <p>Submitting this form will automatically submit this training session to the VATUSA Centralized Training Record System, thus there is no need to create this session on the VATUSA website! That being said, do not submit this form if the student failed to appear for the session or if the session was cancelled.</p>
        <p class="mb-0">If this session is an OTS, submit the OTS form separately as a supplement to this note at <a class="alert-link" href="https://www.vatusa.net/mgt/controller/{{ session.student.cid }}/promote/">https://www.vatusa.net/mgt/controller/{{ session.student.cid }}/promote</a>.</p>
    </div>
    <form id="sessionForm" action="{% url 'file_session' session_id=session.id %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Session Details</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <div class="label-group">
                                    <input type="text" value="{{ session.student.full_name }}" readonly>
                                    <label>Student</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="label-group">
                                    <select name="instructor" required>
                                        <optgroup label="Instructors">
                                            {% for instructor in instructors %}
                                                <option value="{{ instructor.id }}" {% if instructor == session.instructor %}selected{% endif %}>{{ instructor.full_name }}</option>
                                            {% endfor %}
                                        </optgroup>
                                        <optgroup label="Mentors">
                                            {% for mentor in mentors %}
                                                <option value="{{ mentor.id }}" {% if mentor == session.instructor %}selected{% endif %}>{{ mentor.full_name }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    </select>
                                    <label>Instructor</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="label-group">
                                    <input name="position" type="text" value="{{ session.position|default:'' }}" required>
                                    <label>Callsign</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="label-group">
                                    <select name="type" required>
                                        <option value="0" {% if session.type == 0 %}selected{% endif %}>Classroom</option>
                                        <option value="1" {% if session.type == 1 %}selected{% endif %}>Sweatbox</option>
                                        <option value="2" {% if session.type == 2 %}selected{% endif %}>Online</option>
                                        <option value="3" {% if session.type == 3 %}selected{% endif %}>OTS</option>
                                    </select>
                                    <label>Type</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="label-group">
                                    <select name="level" required>
                                        <option value="0" {% if session.level == 0 %}selected{% endif %}>Minor Ground</option>
                                        <option value="1" {% if session.level == 1 %}selected{% endif %}>Major Ground</option>
                                        <option value="2" {% if session.level == 2 %}selected{% endif %}>Minor Tower</option>
                                        <option value="3" {% if session.level == 3 %}selected{% endif %}>Major Tower</option>
                                        <option value="4" {% if session.level == 4 %}selected{% endif %}>Minor Approach</option>
                                        <option value="5" {% if session.level == 5 %}selected{% endif %}>Major Approach</option>
                                        <option value="6" {% if session.level == 6 %}selected{% endif %}>Center</option>
                                        <option value="7" {% if session.level == 7 %}selected{% endif %}>Oceanic</option>
                                    </select>
                                    <label>Level</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="label-group">
                                    <input name="movements" type="number" required>
                                    <label>Aircraft Moved</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="label-group">
                                    <input name="start" type="datetime-local" value="{{ session.start|to_iso_format }}" required>
                                    <label>Start Time (Zulu)</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="label-group">
                                    <input name="end" type="datetime-local" value="{{ session.end|to_iso_format }}" required>
                                    <label>End Time (Zulu)</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="label-group">
                                    <input type="text" value="Completed" readonly>
                                    <label>Status</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="label-group">
                                    <select name="progress" required>
                                        <option selected></option>
                                        <option value="1">1 - No Progress</option>
                                        <option value="2">2 - Little Progress</option>
                                        <option value="3">3 - Average Progress</option>
                                        <option value="4">4 - Great Progress</option>
                                        <option value="5">5 - Exceptional Progress</option>
                                    </select>
                                    <label>Progress</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="col-12 text-center" id="ots_status">
                                <input name="ots_status" type="text" value="0" hidden required>
                                <label class="standalone text-center">OTS Status</label>
                                <div class="btn-group">
                                    <button class="btn btn-outline-secondary active" type="button" value="0">Non-OTS</button>
                                    <button class="btn btn-outline-success" type="button" value="1"><i class="far fa-check"></i> Passed</button>
                                    <button class="btn btn-outline-danger" type="button" value="2"><i class="far fa-times"></i> Failed</button>
                                    <button class="btn btn-outline-info" type="button" value="3"><i class="far fa-thumbs-up"></i> Recommended</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Session Notes</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <textarea name="notes" hidden></textarea>
                                <div class="quill mb-2" id="editor">{{ session.notes|safe }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="{% url 'view_session' session_id=session.id %}"><button class="btn btn-secondary" type="button">Return to Session</button></a>
        <button class="btn btn-primary"><i class="far fa-file-alt"></i> File Session</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var quill = null
        $(function() {
            $('.collapse').collapse()
            $('#ots').collapse('hide')
            quill = new Quill('#editor', {
                theme: 'snow',
                modules: {
                    toolbar: [
                        ['bold', 'italic', 'underline', 'strike'],

                        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                        [{ 'script': 'sub'}, { 'script': 'super' }],
                        [{ 'indent': '-1'}, { 'indent': '+1' }],

                        [{ 'size': ['small', false, 'large', 'huge'] }],
                        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                        [{ 'color': [] }, { 'background': [] }],
                        [{ 'font': [] }],

                        ['image'],

                        ['clean']
                    ]
                },
                placeholder: 'Announcement message goes here...',
            });
            $('#ots_status button').click(function() {
                $('#ots_status button').removeClass('active')
                $(this).addClass('active')
                $('input[name="ots_status"]').val($(this).val())
            })
        })
        $('#sessionForm').submit(function(e) {
            e.preventDefault()
            $('textarea[name="notes"]').val(quill.root.innerHTML === '<p><br></p>' ? '' : quill.root.innerHTML)
            this.submit()
        })
    </script>
{% endblock %}