{% extends 'secondaryTemplate.html' %}
{% load filters %}

{% block header %}
    <h1 style="font-size: 65px">
        {{ exam.name }}
        <span class="badge badge-lg
            {% if exam.score >= 90 %}badge-success
            {% elif exam.score >= 65 %}badge-warning
            {% elif exam.score < 65 %}badge-danger
            {% endif %}
        ">{{ exam.score }}%</span>
    </h1>
    <h2 style="font-size: 40px">Taken {{ exam.submitted|date:'M d, Y @ Hi\z' }}</h2>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3">
            <div class="sticky-scrollspy list-group">
                {% for question in exam.questions.all %}
                    <a href="#question_{{ forloop.counter }}" class="list-group-item list-group-item-action">
                        Question {{ forloop.counter }} &nbsp;
                        {% if question.answer == answers|get_value_from_dict:question.id %}
                            <i class="far text-success fa-check"></i>
                        {% else %}
                            <i class="far text-danger fa-times"></i>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-9">
            {% csrf_token %}
            {% for question in exam.questions.all %}
                <div class="card" id="question_{{ forloop.counter }}">
                    <div class="card-header bg-secondary"><b>{{ forloop.counter }}.</b> {{ question.question }}</div>
                    <div class="card-body">
                        {% if question.image %}
                            <div class="text-center">
                                <img src="{{ question.image.url }}">
                            </div>
                        {% endif %}
                        <a class="exam-answer {% if question.answer == 'A' %}exam-correct{% else %}{% if answers|get_value_from_dict:question.id == 'A' %}exam-incorrect{% endif %}{% endif %}">
                            <span class="exam-letter">A</span> &nbsp; {{ question.choice_1 }}
                        </a>
                        <a class="exam-answer {% if question.answer == 'B' %}exam-correct{% else %}{% if answers|get_value_from_dict:question.id == 'B' %}exam-incorrect{% endif %}{% endif %}">
                            <span class="exam-letter">B</span> &nbsp; {{ question.choice_2 }}
                        </a>
                        {% if question.choice_3 %}
                            <a class="exam-answer {% if question.answer == 'C' %}exam-correct{% else %}{% if answers|get_value_from_dict:question.id == 'C' %}exam-incorrect{% endif %}{% endif %}">
                                <span class="exam-letter">C</span> &nbsp; {{ question.choice_3 }}
                            </a>
                        {% endif %}
                        {% if question.choice_4 %}
                            <a class="exam-answer {% if question.answer == 'D' %}exam-correct{% else %}{% if answers|get_value_from_dict:question.id == 'D' %}exam-incorrect{% endif %}{% endif %}">
                                <span class="exam-letter">D</span> &nbsp; {{ question.choice_4 }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function() {
            $('body').scrollspy({
                target: '.sticky-scrollspy',
                offset: 180,
            })
        })
        $('.list-group-item-action').click(function() {
            setTimeout(function() {
                window.scrollTo(window.scrollX, window.scrollY - 150)
            }, 1)
        })
    </script>
{% endblock %}