{% extends 'secondaryTemplate.html' %}
{% load filters %}
{% block header %}
    <h1 style="font-size: 65px">{{ session.get_level_display }} Session</h1>
    <h2 style="font-size: 40px">{{ session.start|date:'M j, Y @ Hi\z' }} <i class="far fa-xs fa-long-arrow-right"></i> {{ session.end|date:'Hi\z' }}
    <h3 style="font-size: 40px">{{ session.start|date:'M j, Y @ Hi' }} <i class="far fa-xs fa-long-arrow-right"></i> {{ session.end|date:'Hi' }}
    <span class="badge badge-md
        {% if session.status == 0 %}badge-info
        {% elif session.status == 1 %}badge-success
        {% elif session.status == 2 %}badge-danger
        {% elif session.status == 3 %}badge-warning
        {% endif %}
    ">{{ session.get_status_display }}</span></h3>
{% endblock %}

{% block body %}
    {% if request.user_obj.is_staff or request.user_obj.is_mentor %}
        <div class="text-center text-lg-left mb-4">
        {% if session.status == 0 %}
            <a href="{% url 'file_session' session_id=session.id %}"><button class="btn btn-success"><i class="far fa-file-alt"></i> File Session</button></a>
        {% endif %}
            <a href="{% url 'edit_session' session_id=session.id %}"><button class="btn btn-secondary"><i class="far fa-pencil-ruler"></i> Edit Session</button></a>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-12 col-lg">
            <div class="row">
                <div class="col-lg">
                    <h3>Position</h3>
                    <p>{{ session.position|default:'None' }}</p>
                    <h3>Type</h3>
                    <p>{{ session.get_type_display }}</p>
                </div>
                <div class="col-lg">
                    <h3>Instructor</h3>
                    <p>{{ session.instructor.full_name }}</p>
                    <h3>Duration</h3>
                    <p>{{ session.duration|duration }}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg">
            <h3>Session Notes</h3>
            <p>{{ session.notes|safe|default:'No notes provided.' }}</p>
        </div>
    </div>
{% endblock %}