{% extends 'mainTemplate.html' %}
{% load filters %}

{% block body %}
<div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">Endorsements</div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td style="width: 16.7%; font-size: 14px" class="text-center">DEL</td>
                            <td style="width: 16.7%; font-size: 14px" class="text-center">GND</td>
                            <td style="width: 16.7%; font-size: 14px" class="text-center">TWR</td>
                            <td style="width: 16.7%; font-size: 14px" class="text-center">APP</td>
                            <td style="width: 16.7%; font-size: 14px" class="text-center">CTR</td>
                            <td style="width: 16.7%; font-size: 14px" class="text-center">OCN</td>
                        </tr>
                        <tr>
                            <td style="width: 16.7%" class="text-center">
                                {% if student.del_cert == 3 %}<i class="fas fa-circle text-danger"></i>
                                {% elif student.del_cert == 2 %}<i class="fas fa-circle text-success"></i>
                                {% elif student.del_cert == 1 %}<i class="fas fa-circle text-warning"></i>
                                {% else %}<i class="fas fa-circle text-secondary"></i>
                                {% endif %}
                            </td>
                            <td style="width: 16.7%" class="text-center">
                                {% if student.gnd_cert == 3 %}<i class="fas fa-circle text-danger"></i>
                                {% elif student.gnd_cert == 2 %}<i class="fas fa-circle text-success"></i>
                                {% elif student.gnd_cert == 1 %}<i class="fas fa-circle text-warning"></i>
                                {% else %}<i class="fas fa-circle text-secondary"></i>
                                {% endif %}
                            </td>
                            <td style="width: 16.7%" class="text-center">
                                {% if student.twr_cert == 3 %}<i class="fas fa-circle text-danger"></i>
                                {% elif student.twr_cert == 2 %}<i class="fas fa-circle text-success"></i>
                                {% elif student.twr_cert == 1 %}<i class="fas fa-circle text-warning"></i>
                                {% else %}<i class="fas fa-circle text-secondary"></i>
                                {% endif %}
                            </td>
                            <td style="width: 16.7%" class="text-center">
                                {% if student.app_cert == 3 %}<i class="fas fa-circle text-danger"></i>
                                {% elif student.app_cert == 2 %}<i class="fas fa-circle text-success"></i>
                                {% elif student.app_cert == 1 %}<i class="fas fa-circle text-warning"></i>
                                {% else %}<i class="fas fa-circle text-secondary"></i>
                                {% endif %}
                            </td>
                            <td style="width: 16.7%" class="text-center">
                                {% if student.ctr_cert == 3 %}<i class="fas fa-circle text-danger"></i>
                                {% elif student.ctr_cert == 2 %}<i class="fas fa-circle text-success"></i>
                                {% elif student.ctr_cert == 1 %}<i class="fas fa-circle text-warning"></i>
                                {% else %}<i class="fas fa-circle text-secondary"></i>
                                {% endif %}
                            </td>
                            <td style="width: 16.7%" class="text-center">
                                {% if student.ocn_cert == 3 %}<i class="fas fa-circle text-danger"></i>
                                {% elif student.ocn_cert == 2 %}<i class="fas fa-circle text-success"></i>
                                {% elif student.ocn_cert == 1 %}<i class="fas fa-circle text-warning"></i>
                                {% else %}<i class="fas fa-circle text-secondary"></i>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">Statistics</div>
                <div class="card-body px-5 d-flex justify-content-around">
                    <div class="text-center">
                        <h2 style="font-size: 25px">Sessions</h2>
                        <h1 style="font-size: 35px">{{ student.student_sessions.all|length|default:'<span class="text-muted">N/A</span>' }}</h1>
                    </div>
                    <div class="text-center">
                        <h2 style="font-size: 25px">Total Training Time</h2>
                        <h1 style="font-size: 35px">{{ training_time|duration|default:'<span class="text-muted">N/A</span>' }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <table id="sessions" class="table table-hover">
                <colgroup>
                    <col style="width: 30%">
                    <col style="width: 20%">
                    <col style="width: 15%">
                    <col style="width: 20%">
                    <col style="width: 15%">
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center">Date / Time</th>
                        <th class="text-center">Level</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Instructor</th>
                        <th class="text-center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for session in student.student_sessions.all %}
                        <tr data-type="href" data-session="{{ session.id }}">
                            <td class="text-center"><span class="d-none">{{ session.start|date:'m/d/Y Hi' }}</span>{{ session.start|date:'M j, Y @ Hi\z' }}</td>
                            <td class="text-center">{{ session.get_level_display }}</td>
                            <td class="text-center">{{ session.get_type_display }}</td>
                            <td class="text-center">{{ session.instructor.full_name }}</td>
                            <td class="text-center"><span class="badge
                                {% if session.status == 0 %}badge-info
                                {% elif session.status == 1 %}badge-success
                                {% elif session.status == 2 %}badge-danger
                                {% elif session.status == 3 %}badge-warning
                                {% endif %}
                            ">{{ session.get_status_display }}</span></td>
                        </tr>
                    {% empty %}
                        <td class="text-center" colspan="5"><i>This student has not had any sessions yet...</i></td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function() {
            $('#sessions').DataTable({
                pageLength: 10,
                lengthChange: false,
                order: [[ 0, 'desc' ]]
            })
        })
        $('#sessions tr[data-type="href"]').click(function() {
            window.location.href = '{% url 'view_session' session_id=0 %}'.replace(/0/, $(this).data('session'))
        })
    </script>
{% endblock %}