{% extends 'mainTemplate.html' %}
{% load filters %}

{% block stylesheets %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block body %}
    {% if requests %}
        <div class="row">
            {% for request in requests %}
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header bg-secondary">
                            <div class="float-right">
                                <span class="badge badge-primary">{{ request.get_level_display }}</span>
                                <span class="badge badge-primary">{{ request.get_type_display }}</span>
                            </div>
                            <h4>{{ request.student.full_name }}</h4>
                            <p class="mb-0">{{ request.start|date:'M j, Y @ Hi\z' }} <i class="far fa-long-arrow-right"></i> {{ request.end|date:'M j, Y @ Hi\z' }}</p>
                        </div>
                        <div class="card-body">
                            <p>{{ request.remarks|default:'No Remarks Provided' }}</p>
                            <div class="text-center">
                                <button class="btn btn-danger" data-action="reject" data-id="{{ request.id }}" data-name="{{ request.student.full_name }}">Reject</button>
                                <button class="btn btn-success" data-action="accept" data-id="{{ request.id }}" data-name="{{ request.student.full_name }}" data-duration="{{ request.duration|duration_minutes }}" data-start="{{ request.start|to_iso_format }}">Accept</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-primary">
            <h4 class="alert-heading">Whup, looks like its empty!</h4>
            <p class="mb-0">There are currently no pending training requests.</p>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script>
        $('[data-action="accept"]').click(function() {
            let $this = $(this)
            launchCustomModal(
                'info',
                'Scheduling Training Session with ' + $this.data('name'),
                `<form id="acceptRequest">
                    {% csrf_token %}
                    <p>Drag the slider to set the start and end times for the training session. The limits are automatically set to what the student indicated as their availability.</p>
                    <input name="start" id="start" type="datetime-local" hidden>
                    <input name="end" id="end" type="datetime-local" hidden>
                    <div class="mb-4 text-left d-flex justify-content-between">
                        <span class="badge badge-primary" id="start"></span>
                        <span class="position-absolute text-center text-primary" style="left: 0; right: 0; margin-left: auto; margin-right: auto; width: 100%;"><i class="far fa-2x fa-long-arrow-right"></i></span>
                        <span class="badge badge-primary" id="end"></span>
                    </div>
                    <div class="slider-range mb-3"></div>
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary">Submit</button>
                </form>`
            )
            $('#customModal #acceptRequest').submit(function(e) {
                e.preventDefault()
                $.post({
                    url: $this.data('id') + '/accept/',
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                })
                .done(function() {
                    location.reload()
                })
                .fail(function(error) {
                    $('#customModal').modal('hide')
                    launchErrorModal('Error ' + error.status + ': ' + error.responseText)
                })
            })
            let $slider = $('.slider-range')
            let start = $this.data('start')
            let duration = $this.data('duration')
            $slider.slider({
                range: true,
                min: 0,
                max: duration,
                values: [0, 60],
                slide: function(event, ui) {
                    let slide_min = moment.utc(start, 'YYYY-MM-DDTHH:mm:ss').add(ui.values[0], 'minutes')
                    let slide_max = moment.utc(start, 'YYYY-MM-DDTHH:mm:ss').add(ui.values[1], 'minutes')
                    $('span#start').text(slide_min.format('MMM d, YYYY @ HHmm[z]'))
                    $('input#start').val(slide_min.format('YYYY-MM-DD[T]HH:mm:ss.SS'))
                    $('span#end').text(slide_max.format('MMM d, YYYY @ HHmm[z]'))
                    $('input#end').val(slide_max.format('YYYY-MM-DD[T]HH:mm:ss.SS'))
                }
            })
            let static_min = moment.utc(start, 'YYYY-MM-DDTHH:mm:ss').add($slider.slider('values', 0), 'minutes')
            let static_max = moment.utc(start, 'YYYY-MM-DDTHH:mm:ss').add($slider.slider('values', 1), 'minutes')
            $('span#start').text(static_min.format('MMM d, YYYY @ HHmm[z]'))
            $('input#start').val(static_min.format('YYYY-MM-DD[T]HH:mm:ss.SS'))
            $('span#end').text(static_max.format('MMM d, YYYY @ HHmm[z]'))
            $('input#end').val(static_max.format('YYYY-MM-DD[T]HH:mm:ss.SS'))
        })
        $('[data-action="reject"]').click(function() {
            let $this = $(this)
            launchCustomModal(
                'info',
                `Reject ${$this.data('name')}'s Training Request?`,
                `<form id="rejectForm">
                    <p>Are you sure you would like to reject this training request? This action cannot be undone!</p>
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary">Confirm</button>
                </form>`
            )
            $('#customModal #rejectForm').submit(function(e) {
                e.preventDefault()
                $.post($this.data('id') + '/reject/')
                .done(function() {
                    location.reload()
                })
                .fail(function(error) {
                    $('#customModal').modal('hide')
                    launchErrorModal('Error ' + error.status + ': ' + error.responseText)
                })
            })

        })
    </script>
{% endblock %}