{% extends 'mainTemplate.html' %}
{% block title %}Training History{% endblock %}

{% block body %}
<div class="banner training-banner"></div>
<div class="container py-5">
    <div class="nav-breadcrumb p-2 text-uppercase"><a href="/">ZHU</a> <i class="fas fa-angle-right"></i> <a href="/training">Training Center</a> <i class="fas fa-angle-right"></i> Training History</div>
    <h1>Training History</h1>
    <h3 class="mb-3">{{ user.return_full_name }} // {{ user.cid }}</h3>
    <div class="row">
        <div class="col-md-12">
            <div id="session-accordion">
                {% for session in sessions %}
                <div class="card">
                    <div class="card-header py-0 my-1" id="heading_{{ session.id }}">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_{{ session.id }}">
                            <p class="mb-0">
                                <b>{{ session.start|date:'M d, Y @ Hi\z' }} |</b> {{ session.return_level_str }}
                            </p>
                        </button>
                        <div class="absolute-r">
                            <div class="session session-info">{{ session.return_type_str }}</div> &nbsp;
                            {% if session.status == 0 %}
                            <div class="session bg-info"><i class="fas fa-md fa-play-circle"></i> Scheduled</div>
                            {% elif session.status == 1 %}
                            <div class="session bg-success"><i class="fas fa-md fa-check-circle"></i> Completed</div>
                            {% elif session.status == 2 %}
                            <div class="session bg-danger"><i class="fas fa-md fa-times-circle"></i> Cancelled</div>
                            {% elif session.status == 3 %}
                            <div class="session bg-warning"><i class="fas fa-md fa-exclamation-circle"></i> No-Show</div>
                            {% endif %}
                        </div>
                    </div>
                    <div id="collapse_{{ session.id }}" class="collapse" data-parent="#session-accordion">
                        <div class="card-body">
                            <div class="col-md-12">
                                {% if session.status == 1 %}
                                <table style="width: 20%" class="table">
                                    <thead>
                                        <th class="text-center">Duration</th>
                                        <th class="text-center">Position</th>
                                    </thead>
                                    <tbody>
                                        <td class="text-center">{{ session.duration|date:'g\h i\m' }}</td>
                                        <td class="text-center">{{ session.position|default:'None' }}</td>
                                    </tbody>
                                </table>
                                {% if session.ots_rec %}
                                <p><i class="far fa-md fa-check-circle text-success"></i> <b>{{ session.student.return_full_name }} was recommended for an OTS examination by {{ session.instructor.return_full_name }}!</b></p>
                                {% endif %}
                                {% if session.type == 3 %}
                                    {% if session.ots_passed %}
                                    <p><i class="far fa-md fa-check-circle text-success"></i> <b>{{ session.student.return_full_name }} successfully passed their OTS examination!</b></p>
                                    {% else %}
                                    <p><i class="far fa-md fa-times-circle text-danger"></i> <b>{{ session.student.return_full_name }} failed their OTS examination.</b></p>
                                    {% endif %}
                                {% endif %}
                                {% if session.session_notes %}
                                <p><b><a class="text-decoration-none" href="{{ session.session_notes.url }}" target="_blank">View session notes</a></b></p>
                                {% endif %}
                                <hr>
                                <h5>{{ session.instructor.return_full_name }} // {{ session.instructor.cid }}</h5>
                                <p><b><a class="text-decoration-none" href="mailto:{{ session.instructor.email }}">{{ session.instructor.email }}</a></b></p>
                                {% else %}
                                <p>There is no data for this session...</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="card card-nav-tabs">
                    <div class="card-body text-center">
                        {% if user.cid == request.session.vatsim_data.cid %}
                        <h5>You have not had any training sessions!</h5>
                        <a href="schedule"><button class="btn btn-primary" type="submit">Schedule Training</button></a>
                        {% else %}
                        <h5>This user has not had any training sessions!</h5>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}