/*

d888888P                                                                dP
   88                                                                   88
   88    dP    dP 88d888b. .d8888b. .d8888b. 88d888b. .d8888b. 88d888b. 88d888b. dP    dP
   88    88    88 88'  `88 88'  `88 88'  `88 88'  `88 88'  `88 88'  `88 88'  `88 88    88
   88    88.  .88 88.  .88 88.  .88 88.  .88 88       88.  .88 88.  .88 88    88 88.  .88
   dP    `8888P88 88Y888P' `88888P' `8888P88 dP       `88888P8 88Y888P' dP    dP `8888P88
              .88 88                     .88                   88                     .88
          d8888P  dP                 d8888P                    dP                 d8888P

*/
@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.bg-primary {
    background-color: #2d45a2!important;
    color: white!important;
}
.bg-primary a {
    color: white;
    transition: 400ms;
    cursor: pointer;
}
.bg-secondary {
    background-color: #efefef!important;
    color: #181818;
}
.bg-secondary a,
.link-secondary {
    color: #181818;
    transition: 400ms;
    cursor: pointer;
}
.bg-secondary a:hover {
    color: #181818;
}
.bg-primary a:hover, .bg-secondary a:hover,
.link-secondary:hover {
    opacity: 60%;
    transition: 400ms;
}
.bg-gold {
    background: linear-gradient(45deg, #d0852a, #e9c43e);
    color: white;
}
.bg-silver {
    background: linear-gradient(45deg, #acabab, #d9d9e2);
    color: white;
}
.bg-bronze {
    background: linear-gradient(45deg, #A44200, #e99237);
    color: white;
}
.card-footer {
    border: none;
    margin: 0 -1.25rem -1.25rem;
    padding: 1.25rem;
    background-color: rgba(0, 0, 0, 0.1);
}
.text-primary {
    color: #2d45a2!important;
}
.text-secondary {
    color: #d7d7d7!important;
}
.text-dark {
    color: #181818!important;
}
.text-muted {
    color: #c4c4c4!important;
}
.text-success {
    color: #50cb4a!important;
}
.text-info {
    color: #56c8ef!important;
}
.text-warning {
    color: #f6d93e!important;
}
body {
    font: 16px/26px Gilroy-Regular, Helvetica, sans-serif;
}
h1 {
    font: 100px Gilroy-ExtraBold, Helvetica, sans-serif;
}
h2 {
    font: 30px Gilroy-Light, Helvetica, sans-serif;
}
h3 {
    font: 30px Gilroy-ExtraBold, Helvetica, sans-serif;
}
h4 {
    font: 26px Gilroy-ExtraBold, Helvetica, sans-serif;
}
h5 {
    font: 21px Gilroy-Bold, Helvetica, sans-serif;
}
li {
    line-height: 23px;
    margin-bottom: 5px;
}
hr {
    border-width: 3px;
    margin: 30px 0;
}
a {
    color: #5ec2fa;
    transition: 400ms;
    cursor: pointer;
}
a:hover {
    opacity: 70%;
    color: #5ec2fa;
    transition: 400ms;
    text-decoration: none;
}
.blockquote-footer {
    color: inherit;
    font-size: 15px;
}
.title, .subtitle {
    color: white;
}
.title {
    line-height: 80px;
}
.heading-row {
    font: 40px Gilroy-ExtraBold, Helvetica, sans-serif;
}
.heading-row::before,
.heading-row::after {
    display: inline-block;
    content: '';
    border: 2px solid #2d45a2;
    border-radius: 10px;
    width: 10%;
    margin: 0 1rem;
    transform: translateY(-12px);
}
.stat {
    color: #2d45a2;
}
.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.badge {
    font: 17px Gilroy-Bold, Helvetica, sans-serif;
}
.badge-sm {
    font-size: 12px;
    border-radius: 5px;
    padding: 2px 4px;
}
.badge-md {
    font-size: 28px;
    border-radius: 8px;
}
.badge-lg {
    font-size: 45px;
    border-radius: 10px;
}
.badge-primary {
    background-color: #2d45a2!important;
}
.badge-success {
    background-color: #50cb4a!important;
}
.badge-info {
    background-color: #56c8ef!important;
}
.badge-warning {
    background-color: #f6d93e!important;
    color: #333333!important;
}
.badge-muted {
    background-color: #c4c4c4!important;
    color: white!important;
}
.badge-light {
    background-color: white!important;
    color: #2d45a2!important;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: rgba(45, 69, 162, 0.25);
}
.popover {
    font: 15px Gilroy-Regular, Helvetica, sans-serif;
    padding: 10px;
    max-width: 350px;
    border-radius: 0;
    border: none;
    box-shadow: 0 0 17px #cfcfcf;
}
.bs-popover-top>.arrow::before {
    border: none;
}
.tui-full-calendar-popup-detail .tui-full-calendar-popup-container {
    min-width: 350px!important;
}


/*

dP
88
88 .d8888b. .d8888b. 88d888b. .d8888b.
88 88'  `"" 88'  `88 88'  `88 Y8ooooo.
88 88.  ... 88.  .88 88    88       88
dP `88888P' `88888P' dP    dP `88888P'

*/
.icon-success::after {
    content: url("https://img.icons8.com/cute-clipart/90/000000/checkmark.png");
}
.icon-error::after {
    content: url("https://img.icons8.com/cute-clipart/90/000000/delete-sign.png");
}
.icon-info::after {
    content: url("https://img.icons8.com/cute-clipart/90/000000/info.png");
}
.icon-news::after {
    content: url("https://img.icons8.com/cute-clipart/90/000000/news.png");
}


/*

 88888888b
 88
a88aaaa    .d8888b. 88d888b. 88d8b.d8b. .d8888b.
 88        88'  `88 88'  `88 88'`88'`88 Y8ooooo.
 88        88.  .88 88       88  88  88       88
 dP        `88888P' dP       dP  dP  dP `88888P'

*/
.label-group {
    margin: 17px 0;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding: 0;
}
input[type="text"], input[type="datetime-local"], .file-upload, select, textarea {
    font: 15px/24px Gilroy-Bold, Helvetica, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    padding: 4px 0;
    border-bottom: 2px solid #aeaeae;
    background-color: transparent;
    position: relative;
}
input[type="file"] {
    opacity: 0;
    width: 100%;
}
input[type="text"]:focus, input[type="datetime-local"]:focus, select:focus, textarea:focus {
    outline: none;
}
.input-hint {
    font: 13px/25px Gilroy-Medium, Helvetica, sans-serif;
    color: #aeaeae;
    position: absolute;
}
.focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #2d45a2;
    transition: 500ms;
}
textarea {
    resize: none;
}
textarea ~ .focus-border {
    bottom: 8px;
}
input[type="text"]:focus ~ .focus-border, input[type="text"].has-content ~ .focus-border,
input[type="datetime-local"]:focus ~ .focus-border, input[type="datetime-local"].has-content ~ .focus-border,
select.has-content ~ .focus-border,
input[type="file"].has-content ~ .focus-border,
textarea:focus ~ .focus-border, textarea.has-content ~ .focus-border {
    width: 100%;
    transition: 500ms;
}
label {
    font: 15px Gilroy-Bold, Helvetica, sans-serif;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: left;
    top: 7px;
    color: #aeaeae;
    transition: 400ms;
    pointer-events: none;
}
.standalone {
    position: relative;
    top: 0!important;
    font: 15px Gilroy-Bold, Helvetica, sans-serif!important;
}
input[type="checkbox"] ~ label {
    pointer-events: all;
}
:required ~ label::after,
input[type="checkbox"]:required ~ label::after {
    content: ' ✱';
    color: #c15b5b;
}
:required.has-content ~ label::after,
input[type="checkbox"]:required:checked ~ label::after {
    content: '';
}
.modal label {
    z-index: 2000;
}
input:read-only,
input:read-only ~ label {
    cursor: not-allowed;
    color: #aeaeae!important;
}
input:read-only ~ .focus-border {
    background-color: #aeaeae;
}
input[type="text"]:focus ~ label, input[type="text"].has-content ~ label,
input[type="datetime-local"]:focus ~ label, input[type="datetime-local"].has-content ~ label,
select.has-content ~ label,
input[type="file"].has-content ~ label,
textarea:focus ~ label, textarea.has-content ~ label {
    text-align: left;
    top: -16px;
    color: #2d45a2;
    transition: 400ms;
}
input[type="file"].has-content ~ label {
    top: -11px;
}
.file-name {
    pointer-events: none;
    position: absolute;
    text-align: left;
    width: 100%;
    left: 0;
    top: 9px;
}
.file-upload .focus-border {
    bottom: -2px;
}
input.has-content ~ .upload-btn {
    background-color: #2d45a2;
    color: white;
    transition: 500ms;
}
.upload-btn {
    font: 15px/38px Gilroy-Bold, Helvetica, sans-serif;
    background-color: #aeaeae;
    color: #181818;
    padding: 0 5%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: 500ms;
    pointer-events: none;
}
.radio-group {
    display: block;
    padding: 8px 0;
}
.radio-group .label-group {
    width: 12%;
    margin: 0;
    display: inline-block;
}
.radio-group .label-group input,
.radio-group .label-group label {
    font: 13px/20px Gilroy-Bold, Helvetica, sans-serif!important;
    padding: 0;
}
.radio-group .label-group label {
    top: 3px;
}
.radio-group .label-group input[type="text"]:focus ~ label,
.radio-group .label-group input[type="text"].has-content ~ label {
    top: -12px;
}
.radio-group-label {
    position: inherit;
    display: block;
    padding-bottom: 2px;
    font-size: 15px;
    color: #2d45a2;
}
.radio-label {
    position: inherit;
    display: inline;
    transition: 400ms;
    padding-left: 5px;
}
input:checked ~ .radio-label {
    color: #333333;
}
.toggle {
    margin-top: 10px;
    margin-bottom: 25px;
}
.toggle label {
    position: initial;
    display: initial;
    padding-left: 10px;
    color: #aeaeae;
}
.toggle input[type="checkbox"] {
    margin: 0;
}
input[type="checkbox"] {
    margin-bottom: 10px;
}
input[type="checkbox"] ~ label {
    display: inline;
    position: relative;
    top: unset;
}
input[type="checkbox"]:checked ~ label {
    color: #333333;
}
.toggle input {
    position: relative;
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
    top: 3px;
    width: 40px;
    height: 15px;
    background-color: #efefef;
    border-radius: 15px;
    outline: none;
    -webkit-transition: background 450ms ease;
    transition: background 450ms ease;
    box-shadow: 0 0 0 4px #efefef;
}
.toggle input:before, .toggle input:after {
    position: absolute;
    display: block;
    content: '';
    border-radius: 100%;
    transition: background 450ms ease, transform 450ms ease;
}
.toggle input:before {
    width: 15px;
    height: 15px;
    background-color: #aeaeae;
}
.toggle input:checked:before {
    background-color: #2d45a2;
    transform: translateX(25px);
}
.datepicker {
   display: inline-block;
   margin: 0 auto;
}
.datepicker-days table {
    width: 100%;
}
.upload-avatar, .change-avatar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    opacity: 0;
}
.change-avatar {
    color: white;
    font: 16px Gilroy-Bold, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    transition: 200ms;
    pointer-events: none;
}
.upload-avatar:hover ~ .change-avatar {
    opacity: 1;
    cursor: pointer;
    transition: 200ms;
}
input[type="datetime-local"] {
     color: transparent;
}
input[type="datetime-local"]:focus, input[type="datetime-local"].has-content {
     color: initial;
}
.bootstrap-select li {
    font: 14px Gilroy-Bold, Helvetica, sans-serif;
}
.ui-widget.ui-widget-content {
    border: none!important;
    background-color: #e7e7e7;
    height: 8px;
    border-radius: 4px;
}
.ui-state-default {
    border: none!important;
    background-color: #2d45a2!important;
    height: 17px!important;
    width: 17px!important;
    border-radius: 9px!important;
    transition: box-shadow 0.3s;
}
.ui-state-default:focus {
    outline: none;
    background-color: #2d45a2!important;
    box-shadow: 0 0 0 0.2rem rgba(45, 69, 162, 0.5)!important;
    transition: box-shadow 0.3s;
}
.ui-slider-range {
    background-color: rgba(45, 78, 162, 0.5) !important;
}


/*

 888888ba             dP     dP
 88    `8b            88     88
a88aaaa8P' dP    dP d8888P d8888P .d8888b. 88d888b.
 88   `8b. 88    88   88     88   88'  `88 88'  `88
 88    .88 88.  .88   88     88   88.  .88 88    88
 88888888P `88888P'   dP     dP   `88888P' dP    dP

*/
.btn {
    font: 14px Gilroy-Bold, Helvetica, sans-serif;
    padding: 7px 30px;
    margin: 5px 10px 5px 0;
    border: none;
    border-radius: 3px;
}
.btn-lg {
    font: 18px Gilroy-Bold, Helvetica, sans-serif;
    padding: 10px 45px;
}
.btn-primary {
    background-color: #2d45a2;
    color: white;
    transition: 400ms;
}
.btn-outline-primary {
    background-color: white;
    color: #2d45a2;
    border: 2px #2d45a2 solid;
    transition: 400ms;
}
.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus {
    background-color: rgba(45, 69, 162, 0.8)!important;
    color: white;
    border: 2px #2d45a2 solid!important;
    transition: 400ms;
}
.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(45, 69, 162, 0.5)!important;
}
.btn-outline-danger {
    border: 2px #dc3545 solid;
    transition: 400ms;
}
.btn-outline-success {
    border: 2px #50cb4a solid;
    transition: 400ms;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: rgba(45, 69, 162, 0.8)!important;
    transition: 400ms;
}
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(45, 69, 162, 0.5)!important;
}
.btn-secondary {
    background-color: #e5e5e5;
    color: #181818;
    transition: 400ms;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
    background-color: #f1f1f1!important;
    color: #181818!important;
    transition: 400ms;
}
.btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(241, 241, 241, 0.5) !important;
}
.btn-link {
    padding: 0;
    font: 15px Gilroy-Bold, Helvetica, sans-serif;
    color: inherit;
    text-decoration: inherit;
    transition: 400ms;
}
.btn-link:hover {
    opacity: 75%;
    transition: 400ms;
}
.btn-link:hover, .btn-link:active, .btn-link:focus {
    color: inherit;
    text-decoration: inherit;
}
.exam-answer {
    font: 14px Gilroy-Bold, Helvetica, sans-serif;
    background-color: #f3f3f3;
    width: 100%;
    display: block;
    text-align: left;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    transition: 300ms;
    cursor: pointer;
}
.exam-correct {
    background-color: #c0ffb1;
}
.exam-correct:hover {
    background-color: #c0ffb1!important;
    transition: 300ms;
}
.exam-correct .exam-letter {
    background-color: white;
    color: #c0ffb1;
    transition: 300ms;
}
.exam-incorrect {
    background-color: #ffd1d1;
}
.exam-incorrect:hover {
    background-color: #ffd1d1!important;
    transition: 300ms;
}
.exam-incorrect .exam-letter {
    background-color: white;
    color: #ffd1d1;
    transition: 300ms;
}
.exam-answer:hover {
    background-color: #eaeaea;
    transition: 300ms;
}
.exam-answer.selected {
    background: #2d45a2;
    color: white;
    box-shadow: 0 0 0 0.2rem rgba(45, 69, 162, 0.5)!important;
    transition: 300ms;
}
.exam-answer.selected:hover {
    color: white;
    transition: 300ms;
}
.exam-letter {
    padding: 5px 9px;
    background-color: #2d45a2;
    color: white;
    border-radius: 20px;
    transition: 300ms;
}
.exam-answer.selected .exam-letter {
    background-color: white;
    color: #2d45a2;
    transition: 300ms;
}



/*

dP                                              dP
88                                              88
88        .d8888b. dP    dP .d8888b. dP    dP d8888P
88        88'  `88 88    88 88'  `88 88    88   88
88        88.  .88 88.  .88 88.  .88 88.  .88   88
88888888P `88888P8 `8888P88 `88888P' `88888P'   dP
                        .88
                    d8888P

*/
.page-wrapper {
    height: 100vh;
}
.page-header {
    height: 400px;
}
.secondary-page-header {
    padding: 11% 10% 2% 10%;
}
.page-container, footer {
    padding: 2% 10%;
}
.title-block {
    padding-left: 10%;
    position: absolute;
    top: 250px;
}


/*

8888ba.88ba                 dP          dP
88  `8b  `8b                88          88
88   88   88 .d8888b. .d888b88 .d8888b. 88 .d8888b.
88   88   88 88'  `88 88'  `88 88'  `88 88 Y8ooooo.
88   88   88 88.  .88 88.  .88 88.  .88 88       88
dP   dP   dP `88888P' `88888P8 `88888P8 dP `88888P'

*/
img {
    max-width: 100%;
}
.modal-dialog {
    max-width: 600px;
}
.modal-lg {
    max-width: 900px;
}
.modal-content {
    border: none;
    border-radius: 0;
    padding: 7%;
}
.modal-title {
    font: 35px Gilroy-Bold, Helvetica, sans-serif;
    padding: 0.6em 0;
}
.modal.fade .modal-dialog {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
}


/*

 a88888b.                         dP
d8'   `88                         88
88        .d8888b. 88d888b. .d888b88 .d8888b.
88        88'  `88 88'  `88 88'  `88 Y8ooooo.
Y8.   .88 88.  .88 88       88.  .88       88
 Y88888P' `88888P8 dP       `88888P8 `88888P'

*/
.card {
    box-shadow: 0 0 17px #e9e9e9;
    margin-bottom: 30px;
}
.card, .card-header, .card-body {
    border: none!important;
    border-radius: 0!important;
}
.card-header {
    padding: 20px 20px;
    font: 18px Gilroy-Medium, Helvetica, sans-serif;
}


/*

d888888P          dP       dP
   88             88       88
   88    .d8888b. 88d888b. 88 .d8888b. .d8888b.
   88    88'  `88 88'  `88 88 88ooood8 Y8ooooo.
   88    88.  .88 88.  .88 88 88.  ...       88
   dP    `88888P8 88Y8888' dP `88888P' `88888P'

*/
.table-responsive {
    overflow: visible;
}
th {
    border-top: none!important;
    border-bottom: 2px #d6d6d6 solid!important;
    padding: 1.25%!important;
    font: 17px Gilroy-ExtraBold, Helvetica, sans-serif;
}
td {
    border: none!important;
    padding: 1.25%!important;
    font: 15px Gilroy-Medium, Helvetica, sans-serif;
    vertical-align: middle!important;
}
.border-left {
    border-left: 2px #d6d6d6 solid!important;
}
.border-right {
    border-right: 2px #d6d6d6 solid!important;
}
.table-hover tr[data-type="href"]:hover {
    cursor: pointer;
}
.dataTables_filter label {
    text-align: right!important;
    position: relative;
    pointer-events: initial;
}
.form-control:focus {
    border-color: #2d45a2!important;
    box-shadow: 0 0 0 0.2rem rgba(45, 69, 162, 0.25)!important;
}
.sorting:before,
.sorting_asc:before,
.sorting_desc:before {
    right: 1.3em!important;
}
table.dataTable.no-footer {
    border: none;
}
.dataTables_info,
.dataTables_paginate,
.dataTables_filter label {
    text-align: left;
    font: 14px Gilroy-Bold, Helvetica, sans-serif;
    color: #333333;
}
.paginate_button a{
    margin-top: 5px;
    border: #e5e5e5!important;
    background-color: #e5e5e5;
    color: #181818;
    transition: 400ms;
}
.paginate_button a:hover, .paginate_button a:active, .paginate_button a:focus {
    border: #e5e5e5!important;
    background-color: #f5f5f5!important;
    color: #181818!important;
    transition: 400ms;
    box-shadow: none;
}
.paginate_button a:focus, .page-item.active .page-link {
    background-color: #2d45a2!important;
    color: white!important;
    transition: 400ms;
}


/*

888888ba                    oo                     dP   oo
88    `8b                                          88
88     88 .d8888b. dP   .dP dP .d8888b. .d8888b. d8888P dP .d8888b. 88d888b.
88     88 88'  `88 88   d8' 88 88'  `88 88'  `88   88   88 88'  `88 88'  `88
88     88 88.  .88 88 .88'  88 88.  .88 88.  .88   88   88 88.  .88 88    88
dP     dP `88888P8 8888P'   dP `8888P88 `88888P8   dP   dP `88888P' dP    dP
                                    .88
                                d8888P

*/
.navbar {
    padding: 2% 9%;
    transition: 400ms;
}
.nav-link {
    position: relative;
    color: white;
    font: 19px Gilroy-Medium, Helvetica, sans-serif;
    transition: 500ms;
}
.navbar-dark .nav-link {
    color: #181818;
}
.nav-link:hover, .nav-link:active, .nav-link:focus {
    color: white;
    opacity: 75%;
    transition: 400ms;
}
.navbar-dark .nav-link:hover, .navbar-dark .nav-link:active, .navbar-dark .nav-link:focus {
    color: #181818;
}
.nav-link::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: rgba(255, 255, 255, 0.75);
	content: '';
	opacity: 0;
    transition: 400ms;
	transform: translateY(10px);
}
.navbar-dark .nav-link::after {
	background: rgba(24, 24, 24, 0.75);
}
.nav-link:hover::after, .nav-link:active::after, .nav-link:focus::after {
	opacity: 1;
	transform: translateY(0px);
}
.navbar-logo-gray, .navbar-logo-color {
    height: 75px;
}
.nav-item .dropdown-menu {
	border: none;
    border-radius: 0;
	background: rgba(255,255,255,0.75);
    right: auto;
    left: 50%;
    transform: translate(-50%, 0);
}
.shrink {
    padding: 1% 9%;
    background-color: #f5f5f5;
    transition: 600ms ease;
}
.shrink .nav-link {
    color: #181818;
}
.shrink .nav-link::after {
    background-color: rgba(12, 12, 12, 0.75);
}
.tab-container {
    display: flex;
}
.tab {
    background-color: #ededed;
    text-align: center;
    flex: 1;
    font: 20px Gilroy-Bold, Helvetica, sans-serif;
    padding: 25px 0;
    cursor: pointer;
}
.tab.active {
    background-color: #dedede;
}
.tab.active:hover {
    opacity: 1;
}
.sticky-scrollspy {
    position: sticky;
    top: 150px;
}
.list-group-item {
    font: 18px Gilroy-Bold, Helvetica, sans-serif;
    transition: 300ms ease;
    border: none;
}
.list-group-item.active {
    background-color: #2d45a2;
    transition: 200ms;
    border: none;
}
.list-group-item.active * {
    color: white!important;
}


/*

dP     dP
88     88
88aaaaa88a .d8888b. 88d8b.d8b. .d8888b. 88d888b. .d8888b. .d8888b. .d8888b.
88     88  88'  `88 88'`88'`88 88ooood8 88'  `88 88'  `88 88'  `88 88ooood8
88     88  88.  .88 88  88  88 88.  ... 88.  .88 88.  .88 88.  .88 88.  ...
dP     dP  `88888P' dP  dP  dP `88888P' 88Y888P' `88888P8 `8888P88 `88888P'
                                        88                     .88
                                        dP                 d8888P

*/
.home-wrapper {
    height: 100vh;
    background: url('../img/homepage-bg.jpg') 50% 50%/cover;
}
.home-title-block {
    height: 100vh;
}
.home-title, .home-subtitle, .scroll-arrow {
    color: #dbdbdb;
    mix-blend-mode: screen;
}
.home-title, .home-subtitle {
    padding-left: 10%;
}
.home-title {
    font: 120px Gilroy-ExtraBold, Helvetica, sans-serif;
    padding-top: calc(100vh / 3.25);
}
.home-subtitle {
    font-size: 36px;
}
.scroll-arrow {
    position: absolute;
    left: 9%;
    bottom: 15%;
    font: 20px Gilroy-Light, Helvetica, sans-serif;
    transform: rotate(-90deg);
}


/*

8888ba.88ba
88  `8b  `8b
88   88   88 .d8888b. 88d888b. .d8888b.
88   88   88 88'  `88 88'  `88 Y8ooooo.
88   88   88 88.  .88 88.  .88       88
dP   dP   dP `88888P8 88Y888P' `88888P'
                      88
                      dP

*/
.mapboxgl-popup {
    max-width: 400px!important;
}
.mapboxgl-popup-content {
    padding: 0!important;
    border-radius: 0!important;
}
.mapboxgl-popup-header {
    padding: 15px!important;
    background-color: #2d45a2!important;
    font: 15px Gilroy-Bold, Helvetica, sans-serif;
    color: white;
}
.mapboxgl-popup-body {
    padding: 15px!important;
    font: 13px Gilroy-Medium, Helvetica, sans-serif;
}
.mapboxgl-popup-close-button {
    color: white;
}

.quill.broadcast h1,
.quill.broadcast h2,
.quill.broadcast h3,
.quill.broadcast h4,
.quill.broadcast h5,
.quill.broadcast p {
    all: unset;
}