{% extends 'mainTemplate.html' %}
{% load static %}
{% block title %}Staff{% endblock %}
{% block header %}Staff{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-0 col-xl-3"></div>
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-header bg-secondary">Air Traffic Manager <a class="float-right" href="mailto:atm@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
            <div class="card-body">
                <h4><img class="rounded-circle" src="{% static 'profile/placeholder.png' %}" height="40px">&nbsp; {{ staff.ATM.return_full_name|default:'Vacant' }}</h4>
                <p>The ATM is responsible for the macro-management of the ARTCC. They oversee day-to-day operations and ensure the ARTCC runs smoothly.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-header bg-secondary">Deputy Air Traffic Manager <a class="float-right" href="mailto:datm@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
            <div class="card-body">
                <h4><img class="rounded-circle" src="{% static 'profile/placeholder.png' %}" height="40px">&nbsp; {{ staff.DATM.return_full_name|default:'Vacant' }}</h4>
                <p>The DATM assists the ATM with the management of the ARTCC. The DATM acts as the ATM when necessary.</p>
            </div>
        </div>
    </div>
    <div class="col-md-0 col-xl-3"></div>
</div>
<hr>
<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-header bg-secondary">Training Administrator <a class="float-right" href="mailto:ta@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
            <div class="card-body">
                <h4><img class="rounded-circle" src="{% static 'profile/placeholder.png' %}" height="40px">&nbsp; {{ staff.TA.return_full_name|default:'Vacant' }}</h4>
                <p>The TA works with the ATM and DATM to build training programs, establish training procedures, and recommend instructors and mentors.</p>
            </div>
            {% if staff.ATA %}
            <div class="card-header bg-secondary">Assistant Training Administrator <a class="float-right" href="mailto:ata@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
            <div class="card-body">
                <h4><img class="rounded-circle" src="{% static 'profile/placeholder.png' %}" height="40px">&nbsp; {{ staff.ATA.return_full_name|default:'Vacant' }}</h4>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-header bg-secondary">Events Coordinator <a class="float-right" href="mailto:ec@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
            <div class="card-body">
                <h4><img class="rounded-circle" src="{% static 'profile/placeholder.png' %}" height="40px">&nbsp; {{ staff.EC.return_full_name|default:'Vacant' }}</h4>
                <p>The EC is responsible for the creation, planning, advertising, and coordination of events with neighboring facilities, virtual airlines, VATUSA, and VATSIM.</p>
            </div>
            {% if staff.AEC %}
            <div class="card-header bg-secondary">Assistant Events Coordinator <a class="float-right" href="mailto:aec@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
            <div class="card-body">
                <h4><img class="rounded-circle" src="{% static 'profile/placeholder.png' %}" height="40px">&nbsp; {{ staff.AEC.return_full_name|default:'Vacant' }}</h4>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-header bg-secondary">Facility Engineer <a class="float-right" href="mailto:fe@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
            <div class="card-body">
                <h4><img class="rounded-circle" src="{% static 'profile/placeholder.png' %}" height="40px">&nbsp; {{ staff.FE.return_full_name|default:'Vacant' }}</h4>
                <p>The FE is responsible for the creation of sector files, radar client files, training scenarios, written documents, and other ARTCC resources as directed by the ATM.</p>
            </div>
            {% if staff.AFE %}
            <div class="card-header bg-secondary">Assistant Facility Engineer <a class="float-right" href="mailto:afe@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
            <div class="card-body">
                <h4><img class="rounded-circle" src="{% static 'profile/placeholder.png' %}" height="40px">&nbsp; {{ staff.AFE.return_full_name|default:'Vacant' }}</h4>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-header bg-secondary">Webmaster <a class="float-right" href="mailto:wm@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
            <div class="card-body">
                <h4><img class="rounded-circle" src="{% static 'profile/placeholder.png' %}" height="40px">&nbsp; {{ staff.WM.return_full_name|default:'Vacant' }}</h4>
                <p>The WM is responsible for the operation and maintenance of ARTCC IT services such as the website, Teamspeak server, and other tasks as required.</p>
            </div>
            {% if staff.AWM %}
            <div class="card-header bg-secondary">Assistant Webmaster <a class="float-right" href="mailto:awm@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
            <div class="card-body">
                <h4><img class="rounded-circle" src="{% static 'profile/placeholder.png' %}" height="40px">&nbsp; {{ staff.AWM.return_full_name|default:'Vacant' }}</h4>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-secondary">Instructors <a class="float-right" href="mailto:instructor@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
            <div class="card-body">
                {% for instructor in staff.INS %}
                <h4><img class="rounded-circle" src="{% static 'profile/placeholder.png' %}" height="40px">&nbsp; {{ instructor.return_full_name }}</h4>
                {% empty %}
                <h4>No Instructors</h4>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-secondary">Mentors <a class="float-right" href="mailto:mentor@zhuartcc.org"><i class="far fa-envelope"></i></a></div>
            <div class="card-body">
                {% for mentor in staff.MTR %}
                <h4><img class="rounded-circle" src="{% static 'profile/placeholder.png' %}" height="40px">&nbsp; {{ mentor.return_full_name }}</h4>
                {% empty %}
                <h4>No Mentors</h4>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}