{% extends 'mainTemplate.html' %}

{% block body %}
{% csrf_token %}
{% for visit in visiting_requests %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-nav-tabs">
            <div class="card-body">
                <h2><b>{{ visit.first_name }} {{ visit.last_name }}</b> <small><small>from <b>{{ visit.home_facility }}</b></small></small></h2>
                <p>{{ visit.reason }}</p>
                <table style="width: 50%" class="table">
                    <thead>
                        <th>CID</th>
                        <th>Rating</th>
                        <th>Email</th>
                        <th>Submitted</th>
                    </thead>
                    <tbody>
                        <td>{{ visit.cid }}</td>
                        <td>{{ visit.rating }}</td>
                        <td>{{ visit.email }}</td>
                        <td>{{ visit.submitted }}</td>
                    </tbody>
                </table>
                <button onclick="acceptRequest('{{ visit.cid }}')" class="btn btn-success" id="{{ visit.cid }}">Accept</button><button onclick="rejectRequest('{{ visit.cid }}')" class="btn btn-danger">Reject</button>
            </div>
        </div>
    </div>
</div>
{% empty %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-nav-tabs">
            <div class="card-body text-center">
                <h5>There are currently no pending visiting requests!</h5>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<script>
    async function acceptRequest(cid) {
        $.ajax({
            type: 'POST',
            url: '/admin/visit/accept/',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            data: { 'cid': cid }
        })
        .done(function() {
            Swal.fire({
                title: 'Success!',
                icon: 'success',
            }).then((result) => location.reload())
        })
        .fail(function(error) {
            Swal.fire({
                title: 'Oh no!',
                html: 'Something went wrong...<br><code>' + error + '</code>',
                icon: 'error',
            })
        })
    }
    async function rejectRequest(cid) {
        Swal.fire({
            title: 'Reason for rejection:',
            input: 'textarea',
            confirmButtonColor: '#FF3636',
            confirmButtonText: 'Reject',
            icon: 'warning',
            showCancelButton: true,
            showLoaderOnConfirm: true,
            inputValidator: (value) => {
                if (!value) {
                    return 'You need to write something!'
                }
            },
            preConfirm: (reason) => {
                return $.ajax({
                    type: 'POST',
                    url: '/admin/visit/reject/',
                    headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                    data: { 'cid': cid, 'reason': reason }
                })
                .done(function() {
                    Swal.fire({
                        title: 'Success!',
                        icon: 'success',
                    }).then((result) => location.reload())
                })
                .fail(function(error) {
                    Swal.fire({
                        title: 'Oh no!',
                        html: 'Something went wrong...<br><code>' + error + '</code>',
                        icon: 'error',
                    })
                })
            },
            allowOutsideClick: () => !Swal.isLoading()
        })
    }
</script>
{% endblock %}