{% extends 'mainTemplate.html' %}

{% block body %}
    {% if visiting_requests %}
        <div class="row">
            {% for visit in visiting_requests %}
                <div class="col-md-4 mx-auto">
                    <div class="card">
                        <div class="card-header bg-secondary">
                            <h4><span class="badge badge-primary">{{ visit.rating }}</span> {{ visit.full_name }} <small><span class="text-black-50">from {{ visit.home_facility }}</span></small></h4>
                            <p class="mb-0">Submitted {{ visit.submitted|date:'M j, Y @ Hi\z' }}</p>
                        </div>
                        <div class="card-body">
                            <p>{{ visit.reason|default:'No Reason Provided' }}</p>
                            <div class="text-center">
                                <button class="btn btn-danger" data-action="reject" data-id="{{ visit.id }}" data-name="{{ visit.full_name }}">Reject</button>
                                <button class="btn btn-success" data-action="accept" data-id="{{ visit.id }}" data-name="{{ visit.full_name }}">Accept</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-primary">
            <h4 class="alert-heading">Whup, looks like its empty!</h4>
            <p class="mb-0">There are currently no pending transfer requests.</p>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        $('[data-action="accept"], [data-action="reject"]').click(function() {
            const $this = $(this);
            if ($this.data('action') === 'accept') {
                launchCustomModal(
                    'info',
                    `Accept ${$this.data('name')}'s Visiting Request?`,
                    `<p>Are you sure you would like to accept this visiting request? This action cannot be undone!</p>
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" data-action="confirm">Confirm</button>`
                )
                $('#customModal [data-action="confirm"]').click(function() {
                    $.post({
                        url: 'accept/',
                        data: {'id': $this.data('id')}
                    })
                    .done(function() {
                        location.reload()
                    })
                    .fail(function(error) {
                        $('#customModal').modal('hide')
                        launchErrorModal('Error ' + error.status + ': ' + error.responseText)
                    })
                })
            } else {
                launchCustomModal(
                    'info',
                    `Reject ${$this.data('name')}'s Visiting Request?`,
                    `<form id="rejectForm">
                        <div class="label-group">
                            <textarea name="reason" rows="2" required></textarea>
                            <label>Reason for Rejection</label>
                            <span class="focus-border"></span>
                        </div>
                        <p>Are you sure you would like to reject this visiting request? This action cannot be undone!</p>
                        <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary">Confirm</button>
                    </form>`
                )
                $('#customModal #rejectForm').submit(function(e) {
                    e.preventDefault()
                    $.post({
                        url: 'reject/',
                        data: {
                            'id': $this.data('id'),
                            'reason': $('#customModal [name="reason"]').val()
                        }
                    })
                    .done(function() {
                        location.reload()
                    })
                    .fail(function(error) {
                        $('#customModal').modal('hide')
                        launchErrorModal('Error ' + error.status + ': ' + error.responseText)
                    })
                })
            }
        })
    </script>
{% endblock %}