{% extends 'email_template.html' %}

{% block content %}
    <p>Hello {{ session.student.first_name }},</p>
    <p>A training session has been scheduled! Here are the details:</p>
    <p>Training Session:</p>
    <ul>
        <li><b>Instructor:</b> {{ session.instructor.full_name }} ({{ session.instructor.cid }})</li>
        <li><b>Time:</b> {{ session.start|date:'M j, Y @ Hi\z' }} - {{ session.end|date:'Hi\z' }}</li>
        <li><b>Level:</b> {{ session.get_level_display }}</li>
        <li><b>Type:</b> {{ session.get_type_display }}</li>
    </ul>
    <p>If you believe there has been an error, please contact <a href="mailto:ta@zhuartcc.org">ta@zhuartcc.org</a> immediately!</p>
{% endblock %}