{% extends 'email_template.html' %}

{% block content %}
    <p>Hello {{ user.first_name }},</p>
    <p>We regret to inform you that because you did not fulfill activity requirements for <b>{% now 'F Y' %}</b>, you have been removed from the Houston ARTCC active controller roster. If you are a home controller, you will be automatically transferred to VATUSA academy. If you are a visiting controller, re-apply if you wish to visit again.</p>
    <p>If you believe there has been an error, please contact <a href="mailto:atm@zhuartcc.org">atm@zhuartcc.org</a> or <a href="mailto:datm@zhuartcc.org">datm@zhuartcc.org</a> immediately!</p>
{% endblock %}