{% extends 'email_template.html' %}

{% block content %}
    <p>Hello {{ name }},</p>
    <p>Congratulations! Your visiting request to visit the virtual Houston ARTCC was approved by a senior staff member! We are happy to welcome you to our family and hope you enjoy your time here.</p>
    <br>
    <h3>Connecting to the vZHU Teamspeak</h3>
    <p>Teamspeak is Houston ARTCC's primary method of voice communications. You are required to be in the Teamspeak server while controlling.</p>
    <ol>
        <li>Download and install Teamspeak 3 by visiting <a href="https://teamspeak.com" target="_blank">teamspeak.com</a>.</li>
        <li>At the top of the screen, click on "Bookmarks", then click on "Manage Bookmarks".</li>
        <li>Click the "Add Bookmark" button at the bottom of the popup and enter the following information:</li>
        <ul>
            <li><b>Label:</b> ZHU Teamspeak</li>
            <li><b>Nickname:</b> Your Full Name</li>
            <li><b>Server Nickname or Address:</b> ts.zhuartcc.org:1337
            <li><b>Server Password:</b> AEX2017</li>
        </ul>
    </ol>
    <br>
    <h3>Connecting to the vZHU Discord</h3>
    <p>Discord is Houston's secondary method of communications. It is used for text discussions and occasionally for training sessions if your mentor or instructor wishes to see your screen.</p>
    <p>To join our server, download and install Discord by visiting <a href="https://discord.com" target="_blank">discord.com</a>. Once you're logged in, visit <a href="https://discord.gg/QHzFvyK">this link</a>, which will automatically open Discord and prompt you to join the server.</p>
    <br>
    <h3>Setting up VATSIM Sync</h3>
    <p>VATSIM Sync is used across Teamspeak and Discord to sync permissions and roles with rating changes. It is recommended that you set it up with both services. More instructions can be found at <a href="https://vatsimsync.com">vatsimsync.com</a>.</p>
    <br>
    <h3>ZHU Web Services</h3>
    <p>The main website, found at <a href="https://zhuartcc.org">zhuartcc.org</a>, is a central tool used for scheduling training, signing up for events, and downloading and viewing important documents. Your account should be automatically activated but if you are experiencing any issues reach out to <a href="mailto:wm@zhuartcc.org">wm@zhuartcc.org</a> or <a href="mailto:atm@zhuartcc.org">atm@zhuartcc.org</a>.</p>
    <p>We also have an <a href="https://sites.google.com/view/vzhuids/home">Information Display System</a>, which displays important information to controllers while on duty. It is highly encouraged that you use this tool while controlling to keep yourself and other controllers up to date on any procedures.</p>
    <br>
    <h3>Training</h3>
    <p>To schedule a training session, log in to the main website and go to the Training Center, which can be found by clicking on your name in the top right. Here you will see all training sessions, previous and scheduled, and will also be able to manage training requests. Once you submit a training request, a member of the training team will accept your request and a session will be automatically scheduled.</p>
    <p>If you have any questions regarding the training process or if you have any trouble scheduling training, please contact the Training Administrator at <a href="mailto:ta@zhuartcc.org">ta@zhuartcc.org</a>.</p>
    <br>
    <p>Again, on behalf of the entire staff team at Houston, welcome to the vZHU family!</p>
{% endblock %}