{% extends 'mainTemplate.html' %}
{% load filters %}

{% block body %}
    <div class="text-center mb-4">
        <a href="/feedback/new"><button class="btn btn-lg btn-primary"><i class="far fa-star"></i> Submit feedback!</button></a>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-5">
                    <table class="table table-striped" id="feedback">
                        <colgroup>
                            <col style="width: 20%">
                            <col style="width: 30%">
                            <col style="width: 20%">
                            <col style="width: 20%">
                            <col style="width: 10%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="border-0 text-center">Date / Time</th>
                                <th class="border-0 text-center">Controller</th>
                                <th class="border-0 text-center">Callsign</th>
                                <th class="border-0 text-center">Rating</th>
                                <th class="border-0 text-center">Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for feedback in all_feedback %}
                                <tr>
                                    <td class="text-center"><span class="d-none">{{ feedback.submitted|date:'m/d/Y Hi' }}</span>{{ feedback.submitted|date:'M d, Y @ Hi\z' }}</td>
                                    <td class="text-center">{{ feedback.controller.full_name }}</td>
                                    <td class="text-center">{{ feedback.controller_callsign }}</td>
                                    <td class="text-center text-warning">{% for i in feedback.rating|as_range  %}<i class="fas fa-star mr-1"></i>{% endfor %}</td>
                                    <td class="text-center"><a data-action="info" data-comments="{{ feedback.comments }}" data-callsign="{{ feedback.flight_callsign|default:'' }}" data-time="{{ feedback.flight_time|date:'M d, Y @ Hi\z' }}"><i class="far fa-lg fa-eye text-dark"></i></a></td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5"><i>No feedback found...</i></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function() {
            $('#feedback').DataTable({
                pageLength: 20,
                lengthChange: false,
                order: [[ 0, 'desc' ]],
                'columns': [
                    null,
                    null,
                    null,
                    null,
                    { 'orderable': false },
                ]
            })
        })
        $('[data-action="info"]').click(function() {
            let callsign = $(this).data('callsign')
            let time = $(this).data('time')
            let comments = $(this).data('comments')
            launchCustomModal(
                'info',
                'Info',
                (callsign ? '<h5>Pilot Callsign</h5><p>' : '') + callsign + (callsign ? '</p>' : '') +
                (time ? '<h5>Flight Time</h5><p>' : '') + time + (time ? '</p>' : '') +
                '<h5>Comments</h5><p>' + comments + '</p>' +
                '<div class="mt-3"><button class="btn btn-secondary" data-dismiss="modal">Close</button></div>'
            )
        })
    </script>
{% endblock %}