{% extends 'mainTemplate.html' %}
{% load filters %}

{% block body %}
    {% if unapproved_feedback %}
        <div class="row">
            {% for feedback in unapproved_feedback %}
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header bg-secondary">
                            <h4>{{ feedback.controller.full_name }} <small><span class="text-black-50">on {{ feedback.controller_callsign }}</span></small></h4>
                            <p class="mb-0">Submitted {{ feedback.submitted|date:'M j, Y @ Hi\z' }}</p>
                        </div>
                        <div class="card-body">
                            <div class="text-center">
                                <p class="text-warning mb-1">{% for i in feedback.rating|as_range %}<i class="fas fa-lg fa-star mx-1"></i>{% endfor %}</p>
                                <p class="text-black-50"><i>- {{ feedback.pilot_name }}</i> &nbsp;<a href="mailto:{{ feedback.pilot_email }}"><i class="far fa-envelope text-black-50"></i></a></p>
                            </div>
                            <p><b>Event:</b> {{ feedback.event }}</p>
                            <p>{{ feedback.comments }}</p>
                            <div class="text-center">
                                <button class="btn btn-danger" data-action="reject" data-id="{{ feedback.id }}">Reject</button>
                                <button class="btn btn-success" data-action="approve" data-id="{{ feedback.id }}">Approve</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-primary">
            <h4 class="alert-heading">Whup, looks like its empty!</h4>
            <p class="mb-0">There is currently no feedback pending.</p>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        $('[data-action="approve"], [data-action="reject"]').click(function() {
            const $this = $(this);
            if ($this.data('action') === 'approve') {
                launchCustomModal(
                    'info',
                    `Approve Feedback?`,
                    `<p>Are you sure you would like to accept this feedback? This action cannot be undone!</p>
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" data-action="confirm">Confirm</button>`
                )
                $('#customModal [data-action="confirm"]').click(function() {
                    $.post('{% url 'accept_feedback' feedback_id=0 %}'.replace(/0/, $this.data('id')))
                    .done(function() { launchSuccessModal() })
                    .fail(function(error) { launchErrorModal('Error ' + error.status + ': ' + error.responseText) })
                })
            } else {
                launchCustomModal(
                    'info',
                    `Reject Feedback?`,
                    `<p>Are you sure you would like to reject this feedback? This action cannot be undone!</p>
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" data-action="confirm">Confirm</button>`
                )
                $('#customModal [data-action="confirm"]').click(function() {
                    $.post('{% url 'reject_feedback' feedback_id=0 %}'.replace(/0/, $this.data('id')))
                    .done(function() { launchSuccessModal() })
                    .fail(function(error) { launchErrorModal('Error ' + error.status + ': ' + error.responseText) })
                })
            }
        })
    </script>
{% endblock %}