{% load static %}

<!DOCTYPE HTML>
<html lang="en">
    <head>
        {% include 'partials/head.html' %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="page-wrapper">
            <nav class="navbar navbar-expand-md navbar-shrink fixed-top">
                <a class="navbar-brand" href="{% url 'home' %}"><img class="navbar-logo-gray" src="{% static 'img/zhulogo-light.png' %}"><img class="navbar-logo-color d-none" src="{% static 'img/zhulogo.png' %}"></a>
                <ul class="navbar-nav ml-auto d-none d-lg-flex">
                    {% include 'partials/navbar.html' %}
                </ul>
            </nav>
            <div class="float-right d-flex d-lg-none">
                <div class='nav'>
                    <div class='nav-content'>
                        <div class='background'>
                            <div class='portion'></div>
                            <div class='portion'></div>
                            <div class='portion'></div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- START Header -->
            <div class="page-header bg-primary position-relative">
                <div class="title-block">
                    <h1 class="title">{{ page_title|default:'Untitled' }}</h1>
                </div>
            </div>
            <!-- END Header -->


            <!-- START Nav Tabs -->
            <div class="tab-container">
                <button class="btn btn-light d-flex d-lg-none" id="toggleNavbar">Toggle</button>
                {% block tabs %}{% endblock %}
            </div>
            <!-- END Nav Tabs -->


            <!-- START Page Content -->
            <div class="page-container">
                {% block body %}{% endblock %}
            </div>
            <!-- END Page Content -->


            {% include 'partials/footer.html' %}
        </div>
        {% include 'partials/scripts.html' %}
        {% block scripts %}{% endblock %}
    </body>
</html>