<!DOCTYPE HTML>
<html lang="en">
    {% include 'partials/head.html' %}
    <body>
        <div class="page-wrapper">
            {% include 'partials/navbar.html' %}


            <!-- START Header -->
            <div class="page-header bg-primary">
                <div class="title-block">
                    <h2 class="subtitle">Houston ARTCC</h2>
                    <h1 class="title">{{ page_title|default:'Untitled' }}</h1>
                </div>
            </div>
            <!-- END Header -->


            <!-- START Nav Tabs -->
            <div class="tab-container">
                {% block tabs %}{% endblock %}
            </div>
            <!-- END Nav Tabs -->


            <!-- START Page Content -->
            <div class="page-container">
                {% block body %}{% endblock %}
            </div>
            <!-- END Page Content -->
        </div>
        {% include 'partials/scripts.html' %}
        {% block scripts %}{% endblock %}
    </body>
</html>