{% load static %}

<!DOCTYPE HTML>
<html lang="en">
    <head>
        {% include 'partials/head.html' %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="page-wrapper">
            <nav class="navbar navbar-expand-md navbar-shrink fixed-top">
                <a class="navbar-brand" href="/"><img class="navbar-logo-gray" src="{% static 'img/zhulogo-dark.png' %}"><img class="navbar-logo-color d-none" src="{% static 'img/zhulogo.png' %}"></a>
                <ul class="navbar-nav ml-auto navbar-dark">
                    {% include 'partials/navbar.html' %}
                </ul>
            </nav>


            <!-- START Header -->
            <div class="secondary-page-header bg-secondary">
                {% block header %}{% endblock %}
            </div>
            <!-- END Header -->


            <!-- START Nav Tabs -->
            <div class="tab-container">
                {% block tabs %}{% endblock %}
            </div>
            <!-- END Nav Tabs -->


            <!-- START Page Content -->
            <div class="page-container">
                {% block body %}{% endblock %}
            </div>
            <!-- END Page Content -->
        </div>
        {% include 'partials/scripts.html' %}
        {% block scripts %}{% endblock %}
    </body>
</html>