<!DOCTYPE HTML>
<html lang="en">
    {% include 'partials/head.html' %}
    <body>
        <div class="page-wrapper">
            {% include 'partials/navbar.html' %}


            <!-- START Header -->
            <div class="secondary-page-header bg-secondary">
                {% block header %}{% endblock %}
            </div>
            <!-- END Header -->


            <!-- START Nav Tabs -->
            <div class="tab-container">
                {% block tabs %}{% endblock %}
            </div>
            <!-- END Nav Tabs -->


            <!-- START Page Content -->
            <div class="page-container">
                {% block body %}{% endblock %}
            </div>
            <!-- END Page Content -->
        </div>
        {% include 'partials/scripts.html' %}
        {% block scripts %}{% endblock %}
    </body>
</html>